In [3]:
# This notebook contains:
#
# Functions to connect to MYSQL database and generate list of feature vectors for each JOBID

In [4]:
# Connect to MYSQL database

hostname = 'localhost'
username = 'a1singh'
password = 'sdsc1234'
database = 'belle2'

import pandas as pd
import numpy as np

In [5]:
import sys
print(sys.executable)
print(sys.version)

/data/home/a1singh/anaconda3/envs/keras/bin/python
3.5.4 |Anaconda, Inc.| (default, Nov 20 2017, 18:44:38)
[GCC 7.2.0]

In [6]:
import pymysql
from IPython.display import display, HTML

conn = pymysql.connect(host=hostname, user=username, passwd=password, db=database)
print(conn)

<pymysql.connections.Connection object at 0x7f9ae04a2ac8>

In [7]:
query = "show tables"
df = pd.read_sql(query, conn)
tables = df['Tables_in_belle2'].tolist()

In [8]:
for tname in tables:
    print(tname)
    df = pd.read_sql("SHOW COLUMNS FROM "+tname, conn)
    display(df)
    x = df.as_matrix()
    print(x)
    print(len(x))
    print(100*'-')

AtticJobParameters

             Field              Type Null  Key Default Extra
0            JobID  int(11) unsigned   NO  PRI    None
1             Name      varchar(100)   NO  PRI    None
2            Value              blob   NO         None
3  RescheduleCycle  int(11) unsigned   NO  PRI    None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['Name' 'varchar(100)' 'NO' 'PRI' None '']
 ['Value' 'blob' 'NO' '' None '']
 ['RescheduleCycle' 'int(11) unsigned' 'NO' 'PRI' None '']]
4
----------------------------------------------------------------------------------------------------
HeartBeatLoggingInfo

           Field              Type Null  Key Default Extra
0          JobID  int(11) unsigned   NO  PRI    None
1           Name      varchar(100)   NO  PRI    None
2          Value              blob   NO         None
3  HeartBeatTime          datetime   NO  PRI    None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['Name' 'varchar(100)' 'NO' 'PRI' None '']
 ['Value' 'blob' 'NO' '' None '']
 ['HeartBeatTime' 'datetime' 'NO' 'PRI' None '']]
4
----------------------------------------------------------------------------------------------------
InputData

    Field              Type Null  Key      Default Extra
0   JobID  int(11) unsigned   NO  PRI         None
1     LFN      varchar(255)   NO  PRI
2  Status       varchar(32)   NO       AprioriGood

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['LFN' 'varchar(255)' 'NO' 'PRI' '' '']
 ['Status' 'varchar(32)' 'NO' '' 'AprioriGood' '']]
3
----------------------------------------------------------------------------------------------------
JobCommands

           Field              Type Null  Key   Default Extra
0          JobID  int(11) unsigned   NO  PRI      None
1        Command      varchar(100)   NO           None
2      Arguments      varchar(100)   NO  PRI      None
3         Status       varchar(64)   NO       Received
4  ReceptionTime          datetime   NO  PRI      None
5  ExecutionTime          datetime  YES           None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['Command' 'varchar(100)' 'NO' '' None '']
 ['Arguments' 'varchar(100)' 'NO' 'PRI' None '']
 ['Status' 'varchar(64)' 'NO' '' 'Received' '']
 ['ReceptionTime' 'datetime' 'NO' 'PRI' None '']
 ['ExecutionTime' 'datetime' 'YES' '' None '']]
6
----------------------------------------------------------------------------------------------------
JobJDLs

             Field              Type Null  Key Default           Extra
0            JobID  int(11) unsigned   NO  PRI    None  auto_increment
1              JDL        mediumblob   NO         None
2  JobRequirements              blob   NO         None
3      OriginalJDL        mediumblob   NO         None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None 'auto_increment']
 ['JDL' 'mediumblob' 'NO' '' None '']
 ['JobRequirements' 'blob' 'NO' '' None '']
 ['OriginalJDL' 'mediumblob' 'NO' '' None '']]
4
----------------------------------------------------------------------------------------------------
JobParameters

   Field              Type Null  Key Default Extra
0  JobID  int(11) unsigned   NO  PRI    None
1   Name      varchar(100)   NO  PRI    None
2  Value              blob   NO         None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['Name' 'varchar(100)' 'NO' 'PRI' None '']
 ['Value' 'blob' 'NO' '' None '']]
3
----------------------------------------------------------------------------------------------------
Jobs

,Field,Type,Null,Key,Default,Extra
0,JobID,int(11) unsigned,NO,PRI,0,
1,JobType,varchar(32),NO,MUL,user,
2,DIRACSetup,varchar(32),NO,MUL,test,
3,JobGroup,varchar(32),NO,MUL,00000000,
4,JobSplitType,"enum('Single','Master','Subjob','DAGNode')",NO,MUL,Single,
5,MasterJobID,int(11) unsigned,NO,,0,
6,Site,varchar(100),NO,MUL,ANY,
7,JobName,varchar(128),NO,,Unknown,
8,Owner,varchar(32),NO,MUL,Unknown,
9,OwnerDN,varchar(255),NO,MUL,Unknown,
10,OwnerGroup,varchar(128),NO,MUL,Unknown,
11,SubmissionTime,datetime,YES,,None,
12,RescheduleTime,datetime,YES,,None,
13,LastUpdateTime,datetime,YES,MUL,None,
14,StartExecTime,datetime,YES,,None,
15,HeartBeatTime,datetime,YES,,None,
16,EndExecTime,datetime,YES,,None,
17,Status,varchar(32),NO,MUL,Received,
18,MinorStatus,varchar(128),NO,MUL,Unknown,
19,ApplicationStatus,varchar(255),YES,MUL,Unknown,
20,ApplicationNumStatus,int(11),NO,,0,
21,CPUTime,float,NO,,0,
22,UserPriority,int(11),NO,,0,
23,SystemPriority,int(11),NO,,0,
24,RescheduleCounter,int(11),NO,,0,
25,VerifiedFlag,"enum('True','False')",NO,,False,
26,DeletedFlag,"enum('True','False')",NO,,False,
27,KilledFlag,"enum('True','False')",NO,,False,
28,FailedFlag,"enum('True','False')",NO,,False,
29,ISandboxReadyFlag,"enum('True','False')",NO,,False,
30,OSandboxReadyFlag,"enum('True','False')",NO,,False,
31,RetrievedFlag,"enum('True','False')",NO,,False,
32,AccountedFlag,"enum('True','False','Failed')",NO,,False,

[['JobID' 'int(11) unsigned' 'NO' 'PRI' '0' '']
 ['JobType' 'varchar(32)' 'NO' 'MUL' 'user' '']
 ['DIRACSetup' 'varchar(32)' 'NO' 'MUL' 'test' '']
 ['JobGroup' 'varchar(32)' 'NO' 'MUL' '00000000' '']
 ['JobSplitType' "enum('Single','Master','Subjob','DAGNode')" 'NO' 'MUL'
  'Single' '']
 ['MasterJobID' 'int(11) unsigned' 'NO' '' '0' '']
 ['Site' 'varchar(100)' 'NO' 'MUL' 'ANY' '']
 ['JobName' 'varchar(128)' 'NO' '' 'Unknown' '']
 ['Owner' 'varchar(32)' 'NO' 'MUL' 'Unknown' '']
 ['OwnerDN' 'varchar(255)' 'NO' 'MUL' 'Unknown' '']
 ['OwnerGroup' 'varchar(128)' 'NO' 'MUL' 'Unknown' '']
 ['SubmissionTime' 'datetime' 'YES' '' None '']
 ['RescheduleTime' 'datetime' 'YES' '' None '']
 ['LastUpdateTime' 'datetime' 'YES' 'MUL' None '']
 ['StartExecTime' 'datetime' 'YES' '' None '']
 ['HeartBeatTime' 'datetime' 'YES' '' None '']
 ['EndExecTime' 'datetime' 'YES' '' None '']
 ['Status' 'varchar(32)' 'NO' 'MUL' 'Received' '']
 ['MinorStatus' 'varchar(128)' 'NO' 'MUL' 'Unknown' '']
 ['ApplicationStatus' 'varchar(255)' 'YES' 'MUL' 'Unknown' '']
 ['ApplicationNumStatus' 'int(11)' 'NO' '' '0' '']
 ['CPUTime' 'float' 'NO' '' '0' '']
 ['UserPriority' 'int(11)' 'NO' '' '0' '']
 ['SystemPriority' 'int(11)' 'NO' '' '0' '']
 ['RescheduleCounter' 'int(11)' 'NO' '' '0' '']
 ['VerifiedFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['DeletedFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['KilledFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['FailedFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['ISandboxReadyFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['OSandboxReadyFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['RetrievedFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['AccountedFlag' "enum('True','False','Failed')" 'NO' '' 'False' '']]
33
----------------------------------------------------------------------------------------------------
OptimizerParameters

   Field              Type Null  Key Default Extra
0  JobID  int(11) unsigned   NO  PRI    None
1   Name      varchar(100)   NO  PRI    None
2  Value        mediumblob   NO         None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['Name' 'varchar(100)' 'NO' 'PRI' None '']
 ['Value' 'mediumblob' 'NO' '' None '']]
3
----------------------------------------------------------------------------------------------------
SiteMask

            Field          Type Null  Key Default Extra
0            Site   varchar(64)   NO  PRI    None
1          Status   varchar(64)   NO         None
2  LastUpdateTime      datetime   NO         None
3          Author  varchar(255)   NO         None
4         Comment          blob   NO         None

[['Site' 'varchar(64)' 'NO' 'PRI' None '']
 ['Status' 'varchar(64)' 'NO' '' None '']
 ['LastUpdateTime' 'datetime' 'NO' '' None '']
 ['Author' 'varchar(255)' 'NO' '' None '']
 ['Comment' 'blob' 'NO' '' None '']]
5
----------------------------------------------------------------------------------------------------
SiteMaskLogging

        Field          Type Null  Key Default Extra
0        Site   varchar(64)   NO  PRI    None
1      Status   varchar(64)   NO         None
2  UpdateTime      datetime   NO  PRI    None
3      Author  varchar(255)   NO         None
4     Comment          blob   NO         None

[['Site' 'varchar(64)' 'NO' 'PRI' None '']
 ['Status' 'varchar(64)' 'NO' '' None '']
 ['UpdateTime' 'datetime' 'NO' 'PRI' None '']
 ['Author' 'varchar(255)' 'NO' '' None '']
 ['Comment' 'blob' 'NO' '' None '']]
5
----------------------------------------------------------------------------------------------------

In [9]:
%%time
# Total number of rows in HeartBeatLoggingInfo (ans - 906,320,307)

df = pd.read_sql("SELECT * FROM HeartBeatLoggingInfo LIMIT 20", conn)
display(df)

       JobID                Name             Value       HeartBeatTime
0   23140766  AvailableDiskSpace       b'753392.0' 2015-08-07 13:13:48
1   23140766         CPUConsumed           b'10.0' 2015-08-07 13:13:48
2   23140766         LoadAverage          b'22.02' 2015-08-07 13:13:48
3   23140766          MemoryUsed     b'36101188.0' 2015-08-07 13:13:48
4   23140766                 RSS       b'110596.0' 2015-08-07 13:13:48
5   23140766               Vsize      b'1459640.0' 2015-08-07 13:13:48
6   23140766       WallClockTime  b'3.19816112518' 2015-08-07 13:13:48
7   23141083  AvailableDiskSpace      b'1544234.0' 2015-08-07 13:29:48
8   23141083         CPUConsumed            b'8.0' 2015-08-07 13:29:48
9   23141083         LoadAverage          b'22.41' 2015-08-07 13:29:48
10  23141083          MemoryUsed     b'36037080.0' 2015-08-07 13:29:48
11  23141083                 RSS       b'111956.0' 2015-08-07 13:29:48
12  23141083               Vsize      b'1707264.0' 2015-08-07 13:29:48
13  23141083       WallClockTime  b'2.89045214653' 2015-08-07 13:29:48
14  23205537  AvailableDiskSpace       b'568076.0' 2015-08-08 22:43:00
15  23205537  AvailableDiskSpace       b'568290.0' 2015-08-08 23:13:00
16  23205537  AvailableDiskSpace       b'568012.0' 2015-08-08 23:42:58
17  23205537  AvailableDiskSpace       b'567882.0' 2015-08-09 00:12:58
18  23205537  AvailableDiskSpace       b'567746.0' 2015-08-09 00:42:58
19  23205537  AvailableDiskSpace       b'567617.0' 2015-08-09 01:13:08

CPU times: user 12.1 ms, sys: 12.1 ms, total: 24.3 ms
Wall time: 23.3 ms

In [9]:
%%time
# Total number of rows in HeartBeatLoggingInfo (ans - 906,320,307)

df = pd.read_sql("SELECT * FROM Jobs LIMIT 20", conn)
display(df.columns)

Index(['JobID', 'JobType', 'DIRACSetup', 'JobGroup', 'JobSplitType',
       'MasterJobID', 'Site', 'JobName', 'Owner', 'OwnerDN', 'OwnerGroup',
       'SubmissionTime', 'RescheduleTime', 'LastUpdateTime', 'StartExecTime',
       'HeartBeatTime', 'EndExecTime', 'Status', 'MinorStatus',
       'ApplicationStatus', 'ApplicationNumStatus', 'CPUTime', 'UserPriority',
       'SystemPriority', 'RescheduleCounter', 'VerifiedFlag', 'DeletedFlag',
       'KilledFlag', 'FailedFlag', 'ISandboxReadyFlag', 'OSandboxReadyFlag',
       'RetrievedFlag', 'AccountedFlag'],
      dtype='object')

CPU times: user 14.5 ms, sys: 3.74 ms, total: 18.2 ms
Wall time: 16.6 ms

In [ ]:
%%time
# Total number of unique JobIDs in HeartBeatLoggingInfo
# number of distinct JobIDs (ans - 10,137,037)

df = pd.read_sql("SELECT COUNT(DISTINCT JobID) FROM HeartBeatLoggingInfo LIMIT 10", conn)
display(df)

In [12]:
%%time
# Total number of unique JobIDs in Jobs
# number of distinct JobIDs (ans - 10,485,197)

df = pd.read_sql("SELECT COUNT(DISTINCT JobID) FROM Jobs LIMIT 10", conn)
display(df)

   COUNT(DISTINCT JobID)
0               10485197

CPU times: user 11 ms, sys: 0 ns, total: 11 ms
Wall time: 7.61 s

In [11]:
%%time
# Total number of unique JobGroup in Jobs table
# number of distinct JobGroup (ans - 5405)

df = pd.read_sql("SELECT COUNT(DISTINCT JobGroup) FROM Jobs LIMIT 10", conn)
display(df)

   COUNT(DISTINCT JobGroup)
0                      5405

CPU times: user 7.86 ms, sys: 3.99 ms, total: 11.9 ms
Wall time: 11 s

In [ ]:
%%time
# Total number of unique timestamps in HeartBeatLoggingInfo
# number of distinct hearbeattime entries (ans - 1,616,7003)

df_stamps = pd.read_sql("SELECT COUNT(DISTINCT HeartBeatTime) FROM HeartBeatLoggingInfo LIMIT 10", conn)
display(df_stamps)

In [1]:
# Average Number of timestamps per jobID

16167003 / 10137037

1.5948450222683412

In [ ]:
# Average number of key-value pairs per timestamp

906320307 / 16167003

# Get Failed Jobs

In [ ]:
%%time

query       = 'SELECT * FROM Jobs WHERE Status = \'Failed\' LIMIT 133000'
failedJobs    = pd.read_sql_query(query,con=conn)

In [ ]:
failedJobs.shape

In [ ]:
listofjobids = failedJobs['JobID'].tolist()
listofjobids = list(set(listofjobids))
len(listofjobids)

In [ ]:
%%time
# # Keep only the rows whose jobID is in HeartBeatLogging table

query       = 'SELECT * FROM HeartBeatLoggingInfo WHERE JobID IN (' + ','.join((str(x) for x in listofjobids)) + ')'
dataHBLI_failed    = pd.read_sql_query(query,con=conn)

In [ ]:
dataHBLI_failed.JobID.nunique()

# Get Successful Jobs

In [ ]:
# Find equal number of Successful job

In [ ]:
%%time

query       = 'SELECT * FROM Jobs WHERE Status = \'Done\' LIMIT 100000'
successJobs    = pd.read_sql_query(query,con=conn)

In [ ]:
successJobs.shape

In [ ]:
listofjobids = successJobs['JobID'].tolist()
listofjobids = list(set(listofjobids))
len(listofjobids)

In [ ]:
%%time
# # Keep only the rows whose jobID is in HeartBeatLogging table

query   = 'SELECT * FROM HeartBeatLoggingInfo WHERE JobID IN (' + ','.join((str(x) for x in listofjobids)) + ')'
dataHBLI_success = pd.read_sql_query(query,con=conn)

In [ ]:
dataHBLI_success.shape

In [ ]:
dataHBLI_success.JobID.nunique()

### Combine HBLI tables pieces = (failed, success)

In [ ]:
dataHBLI_failed.shape, dataHBLI_success.shape

In [ ]:
pieces = (dataHBLI_failed, dataHBLI_success)

In [ ]:
allHBLI = pd.concat(pieces, ignore_index = True)

### Combine Jobs tables pieces = (failed, success)

In [ ]:
failedJobs.shape, successJobs.shape

In [ ]:
pieces = (failedJobs, successJobs)

In [ ]:
allJobs = pd.concat(pieces, ignore_index = True)
allJobs.head()

# Process HBLI table: allHBLI

In [ ]:
allHBLI.head()

In [ ]:
allHBLI.shape

In [ ]:
allHBLI.Value = pd.to_numeric(allHBLI['Value'], errors='raise')

In [ ]:
allHBLI.HeartBeatTime = pd.to_datetime(allHBLI['HeartBeatTime'], errors='raise')

In [ ]:
# Number of unique jobIDs in 10M rows of dataHB (ans-185879)
allHBLI.JobID.nunique()

In [ ]:
# Number of unique timestampes in 10M rows of dataHB (ans-242222)
allHBLI.HeartBeatTime.nunique()

In [ ]:
allHBLI.tail()

In [ ]:
%%time
# 10 millions rows took 10 sec to pivot

allHBLI_wide=allHBLI.pivot_table(index=['JobID','HeartBeatTime'], columns='Name', values='Value')

In [ ]:
# 1  million rows have shape (142863,  7) after pivot
# 10 million rows have shape (1428574, 7) after pivot

allHBLI_wide.shape

In [ ]:
allHBLI_wide.isnull().values.ravel().sum()

In [ ]:
# Drop the last few rows
allHBLI_wide = allHBLI_wide.dropna()

In [ ]:
allHBLI_wide.shape

In [ ]:
allHBLI_wide.head(10)

In [ ]:
allHBLI_wide.columns

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
allHBLI_wide[['AvailableDiskSpace', 'CPUConsumed', 'LoadAverage', 
             'MemoryUsed', 'RSS','Vsize', 'WallClockTime']] = scaler.fit_transform(allHBLI_wide[['AvailableDiskSpace', 
                                                                        'CPUConsumed', 'LoadAverage', 'MemoryUsed', 
                                                                        'RSS','Vsize', 'WallClockTime']])

In [ ]:
allHBLI_wide.head(10)

In [ ]:
allHBLI_wide = allHBLI_wide.reset_index()

In [ ]:
#########################
allHBLI_wide.to_pickle('allHBLI_wide_scaled.pickle')
#########################

In [ ]:
allHBLI_wide.head()

#### End of HBLI table processing: allHBLI

# Process Jobs tables: allJobs

# Join allJobs tables

In [ ]:
dataJobs = allJobs.copy(deep=True)

In [ ]:
listofcolumns = dataJobs.columns.tolist()
#listofcolumns

In [ ]:
removelist = ['JobID','JobName','SubmissionTime', 'RescheduleTime', 'LastUpdateTime', 
              'StartExecTime', 'HeartBeatTime', 'EndExecTime']

for r in removelist:
    listofcolumns.remove(r)
    
print(listofcolumns)

In [ ]:
dataJobs.shape

In [ ]:
cc = {}

for c in listofcolumns:
    #print(c)
    ll = len(dataJobs[c].unique().tolist())
    
    if ll > 0:
        #print('************ found > limit *')
        cc[c]=ll

for w in sorted(cc, key=cc.get, reverse=False):
  print(w, cc[w])

In [ ]:
### Decision: let us drop 'MinorStatus' and 'ApplicationStatus' and only predict the 'Status' column
#   LABEL for prediction: only predict the 'Status' column

del dataJobs['MinorStatus']
del dataJobs['ApplicationStatus']

In [ ]:
### Decision: let us drop all columns which have only single state, i.e. no fluctuation
for w in sorted(cc, key=cc.get, reverse=False):
    if cc[w] == 1:
        del dataJobs[w]
        print(w, cc[w])

In [ ]:
del dataJobs['JobName'] #name is not important for prediction

In [ ]:
dataJobs.columns.tolist()

In [ ]:
dataJobs[['SubmissionTime',
 'RescheduleTime',
 'LastUpdateTime',
 'StartExecTime',
 'HeartBeatTime',
 'EndExecTime']][:5]

In [ ]:
### Decision: Convert times to deltas

dataJobs['start_submit'] = (dataJobs['StartExecTime']-dataJobs['SubmissionTime']) / np.timedelta64(1, 'm')
dataJobs['hbeat_start']  = (dataJobs['HeartBeatTime']-dataJobs['StartExecTime']) / np.timedelta64(1, 'm')

for x in ['SubmissionTime','RescheduleTime','LastUpdateTime','StartExecTime','HeartBeatTime','EndExecTime']:
    del dataJobs[x]

In [ ]:
# Decision: Remove the AccountedFlag at this stage
del dataJobs['AccountedFlag']

In [ ]:
dataJobs[:5]

In [ ]:
dataJobs.Status.value_counts()

In [ ]:
dataJobs.columns

In [ ]:
%%time
dj_encoded = pd.get_dummies(dataJobs, columns=['JobType','JobGroup','Site','Status','UserPriority'],
                           drop_first=True)

In [ ]:
dj_encoded.columns.tolist()

In [ ]:
# Before dropping first column in get_dummies, this returned 4150
len(dj_encoded[dj_encoded['Status_Failed']==True])

In [ ]:
# After dropping first column in get_dummies, this returned 4150
len(dj_encoded[dj_encoded['Status_Failed']==False])

In [ ]:
dj_encoded.head()

In [ ]:
######################################
dj_encoded.to_pickle('allJobs_featurized.pickle')
######################################

In [ ]:
# Use this finally

allJobs_encoded = dj_encoded.copy(deep=True)

In [ ]:
del dj_encoded

In [ ]:
del dataJobs

In [ ]:
del allHBLI

In [ ]:
#### End of all jobs table processing

# Join jobs tables

In [ ]:
# Test Train split each one into 50%
# Concat Test dfs and Train dfs,
# Now you have 50% from each class in train and test.

### >> Join 'allJobs_encoded' and 'allHBLI_wide"

In [ ]:
allHBLI_wide.shape

In [ ]:
allJobs_encoded.shape

In [ ]:
%%time
raw_samples = pd.merge(allHBLI_wide, allJobs_encoded, on =['JobID'])
print(raw_samples.shape)

In [ ]:
raw_samples.head()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

sample_counts = pd.value_counts(raw_samples['JobID'].values, sort=False)
plt.hist(sample_counts.values, bins = 100)
plt.show()

# Sample Generation

# Convert Pandas dataframe to LSTM 3D tensor

# Set Threshold

In [2]:
thresholdd = 1

In [ ]:
sum(sample_counts.values>=thresholdd)

In [ ]:
### Decision: Number of timesteps per sample = 3
# Shape of 3D matrix should be (#samples)x(3)x(132)

sum(sample_counts.values<thresholdd)

In [ ]:
# Delete rows of JobIDs with  fewer than 3 timestamps

dff = raw_samples['JobID'].value_counts()
print(dff.sample(3))

In [ ]:
dff = dff[dff<thresholdd]


dff = dff.reset_index()
dff = dff.rename(index=str, columns={"JobID": "count", "index": "JobID"})

print(dff.sample(5))
print(dff.head())

remove_list = dff['JobID'].tolist()
remove_list[:5]

In [ ]:
cleaned = raw_samples[~raw_samples['JobID'].isin(remove_list)]
cleaned.shape, raw_samples.shape

In [ ]:
# Number of unique JobIDs in cleaned
totalleftjobslist = cleaned.JobID.unique().tolist()

totalleftjobs = len(cleaned.JobID.unique().tolist())

In [ ]:
import random

indices = random.sample(range(len(totalleftjobslist)), int(totalleftjobs * .30))
takeoutlist = [totalleftjobslist[i] for i in sorted(indices)]

len(takeoutlist), totalleftjobs

In [ ]:
print(len(remove_list))
remove_list = remove_list + takeoutlist
print(len(remove_list))

# Train on cleaned, Test on takeoutdf

In [ ]:
cleaned = raw_samples[~raw_samples['JobID'].isin(remove_list)]
cleaned.shape, raw_samples.shape

In [ ]:
takeoutdf = raw_samples[raw_samples['JobID'].isin(takeoutlist)]
takeoutdf.shape, raw_samples.shape

In [ ]:
######################

In [ ]:
# Count values in cleaned

cleaned_counts = pd.value_counts(cleaned['JobID'].values, sort=False)
sum(cleaned_counts.values<thresholdd), sum(cleaned_counts.values>=thresholdd)

In [ ]:
len((sample_counts.values))

In [ ]:
train_feat = cleaned.columns.tolist()
print(len(train_feat)) #125
cleaned.Status_Failed.value_counts()

In [ ]:
train_feat = cleaned.columns.tolist()
print(len(train_feat)) #125

train_feat.remove('HeartBeatTime')
train_feat.remove('JobID')
train_feat.remove('Status_Failed')

len(train_feat) #122

In [ ]:
# Training Features

In [ ]:
train_feat

In [ ]:
cleaned.shape

In [ ]:
# Label Column ('Status_Failed' is the label column)
label_col = ['Status_Failed']

In [10]:
# Takes a df and converts it to 3D tensor
# Each sample will have k time steps

def samples_features(df_input):
    
    k = thresholdd
    input_cols = train_feat
    
    # takes a df
    # Put your inputs into a single list
    
    df = pd.DataFrame()
    
    df['single_input_vector'] = df_input[input_cols].apply(tuple, axis=1).apply(list)
    
    # Double-encapsulate list so that you can sum it in the next step and keep time steps as separate elements
    df['single_input_vector'] = df.single_input_vector.apply(lambda x: [list(x)])
        
    # The starting point
    df['cumulative_input_vectors'] = df['single_input_vector'].shift(0)
    
    for i in range(1,k):
        df['cumulative_input_vectors'] += df['single_input_vector'].shift(i)
          
    df.dropna(inplace=True)     # does operation in place & returns None

    # Extract your training data
    X_ = np.asarray(df.cumulative_input_vectors)
    
    # Use hstack to and reshape to make the inputs a 3d vector
    X = np.vstack(X_).reshape(len(df), k, len(input_cols))
    
    # Clean up
    del df
    
    return X
    # returns 3D array

In [11]:
thresholdd #Check it matched the title

1

# Build X (each job separately)

In [ ]:
cleaned.to_pickle('cleaned_for_train_samples.pickle')

In [ ]:
##################################################

In [12]:
cleaned = pd.read_pickle('cleaned_for_train_samples.pickle')

In [13]:
cleaned.isnull().values.ravel().sum()

0

In [14]:
cleaned = cleaned.dropna()

In [15]:
cleaned.isnull().values.ravel().sum()

0

In [16]:
cleaned.columns.tolist()

['JobID',
 'HeartBeatTime',
 'AvailableDiskSpace',
 'CPUConsumed',
 'LoadAverage',
 'MemoryUsed',
 'RSS',
 'Vsize',
 'WallClockTime',
 'RescheduleCounter',
 'start_submit',
 'hbeat_start',
 'JobType_MCProductionBGx0',
 'JobType_Merge',
 'JobGroup_00000758',
 'JobGroup_00000808',
 'JobGroup_00000809',
 'JobGroup_00000974',
 'JobGroup_00000975',
 'JobGroup_00001303',
 'JobGroup_00001306',
 'JobGroup_00001368',
 'JobGroup_00001369',
 'JobGroup_00001370',
 'JobGroup_00001371',
 'JobGroup_00001372',
 'JobGroup_00001373',
 'JobGroup_00001374',
 'JobGroup_00001375',
 'JobGroup_00001376',
 'JobGroup_00001377',
 'JobGroup_00001378',
 'JobGroup_00001379',
 'JobGroup_00001380',
 'JobGroup_00001381',
 'JobGroup_00001386',
 'JobGroup_00001398',
 'JobGroup_00001404',
 'JobGroup_00001622',
 'JobGroup_00001635',
 'JobGroup_00001636',
 'JobGroup_00001637',
 'JobGroup_00001638',
 'JobGroup_00001639',
 'JobGroup_00001640',
 'JobGroup_00001641',
 'JobGroup_00001642',
 'JobGroup_00001643',
 'JobGroup_00001644',
 'JobGroup_00001645',
 'JobGroup_00001646',
 'JobGroup_00001647',
 'JobGroup_00001648',
 'JobGroup_00001649',
 'JobGroup_00001650',
 'JobGroup_00001651',
 'JobGroup_00001652',
 'JobGroup_00001653',
 'JobGroup_00001654',
 'JobGroup_00001655',
 'JobGroup_00001656',
 'JobGroup_00001657',
 'JobGroup_00001658',
 'JobGroup_00001659',
 'JobGroup_00001660',
 'JobGroup_00001661',
 'JobGroup_00001662',
 'JobGroup_00001663',
 'JobGroup_00001664',
 'JobGroup_00001665',
 'JobGroup_00001666',
 'JobGroup_00001667',
 'JobGroup_00001668',
 'JobGroup_00001669',
 'JobGroup_00001670',
 'JobGroup_00001671',
 'JobGroup_00001672',
 'JobGroup_00001673',
 'JobGroup_00001674',
 'JobGroup_00001675',
 'JobGroup_00001676',
 'JobGroup_00001677',
 'JobGroup_00001678',
 'JobGroup_00001679',
 'JobGroup_00001680',
 'JobGroup_00001681',
 'JobGroup_00001682',
 'JobGroup_00001683',
 'JobGroup_00001684',
 'JobGroup_00001685',
 'JobGroup_00001686',
 'JobGroup_00001687',
 'JobGroup_00001688',
 'JobGroup_00001689',
 'JobGroup_00001690',
 'JobGroup_00001691',
 'JobGroup_00001692',
 'JobGroup_00001693',
 'JobGroup_00001694',
 'JobGroup_00001695',
 'JobGroup_00001696',
 'JobGroup_00001699',
 'JobGroup_00001702',
 'JobGroup_00001705',
 'JobGroup_00001710',
 'JobGroup_00001711',
 'JobGroup_00001712',
 'JobGroup_00001714',
 'JobGroup_00001717',
 'JobGroup_00001720',
 'JobGroup_00001721',
 'JobGroup_00001722',
 'JobGroup_00001723',
 'JobGroup_00001724',
 'JobGroup_00001725',
 'JobGroup_00001726',
 'JobGroup_00001727',
 'JobGroup_00001728',
 'JobGroup_00001729',
 'JobGroup_00001732',
 'JobGroup_00001733',
 'JobGroup_00001734',
 'JobGroup_00001735',
 'JobGroup_00001736',
 'JobGroup_00001737',
 'JobGroup_00001738',
 'JobGroup_00001739',
 'JobGroup_00001740',
 'JobGroup_00001741',
 'JobGroup_00001744',
 'JobGroup_00001746',
 'JobGroup_00001747',
 'JobGroup_00001749',
 'JobGroup_00001750',
 'JobGroup_00001753',
 'JobGroup_00001754',
 'JobGroup_00001755',
 'JobGroup_00001756',
 'JobGroup_00001757',
 'JobGroup_00001758',
 'JobGroup_00001759',
 'JobGroup_00001760',
 'JobGroup_00001761',
 'JobGroup_00001762',
 'JobGroup_00001763',
 'JobGroup_00001764',
 'JobGroup_00001765',
 'JobGroup_00001766',
 'JobGroup_00001767',
 'JobGroup_00001768',
 'JobGroup_00001769',
 'JobGroup_00001770',
 'JobGroup_00001771',
 'JobGroup_00001772',
 'JobGroup_00001773',
 'JobGroup_00001774',
 'JobGroup_00001775',
 'JobGroup_00001776',
 'JobGroup_00001777',
 'JobGroup_00001778',
 'JobGroup_00001779',
 'JobGroup_00001780',
 'JobGroup_00001781',
 'JobGroup_00001782',
 'JobGroup_00001783',
 'JobGroup_00001784',
 'JobGroup_00001785',
 'JobGroup_00001786',
 'JobGroup_00001787',
 'JobGroup_00001788',
 'JobGroup_00001789',
 'JobGroup_00001790',
 'JobGroup_00001791',
 'JobGroup_00001792',
 'JobGroup_00001793',
 'JobGroup_00001794',
 'JobGroup_00001795',
 'JobGroup_00001796',
 'JobGroup_00001797',
 'JobGroup_00001798',
 'JobGroup_00001799',
 'JobGroup_00001800',
 'JobGroup_00001801',
 'JobGroup_00001802',
 'JobGroup_00001803',
 'JobGroup_00001804',
 'JobGroup_00001805',
 'JobGroup_00001806',
 'JobGroup_00001807',
 'JobGroup_00001808',
 'JobGroup_00001809',
 'JobGroup_00001810',
 'JobGroup_00001811',
 'JobGroup_00001812',
 'JobGroup_00001813',
 'JobGroup_00001814',
 'JobGroup_00001815',
 'JobGroup_00001816',
 'JobGroup_00001817',
 'JobGroup_00001818',
 'JobGroup_00001819',
 'JobGroup_00001820',
 'JobGroup_00001821',
 'JobGroup_00001822',
 'JobGroup_00001823',
 'JobGroup_00001824',
 'JobGroup_00001825',
 'JobGroup_00001826',
 'JobGroup_00001827',
 'JobGroup_00001828',
 'JobGroup_00001829',
 'JobGroup_00001830',
 'JobGroup_00001831',
 'JobGroup_00001832',
 'JobGroup_00001833',
 'JobGroup_00001834',
 'JobGroup_00001837',
 'JobGroup_00001840',
 'JobGroup_00001842',
 'JobGroup_00001845',
 'JobGroup_00001847',
 'JobGroup_00001849',
 'JobGroup_00001850',
 'JobGroup_00001856',
 'JobGroup_00001857',
 'JobGroup_00001858',
 'JobGroup_00001859',
 'JobGroup_00001860',
 'JobGroup_00001861',
 'JobGroup_00001863',
 'JobGroup_00001864',
 'JobGroup_00001865',
 'JobGroup_00001866',
 'JobGroup_00001868',
 'JobGroup_00001871',
 'JobGroup_00001872',
 'JobGroup_00001914',
 'JobGroup_00001916',
 'JobGroup_00001917',
 'JobGroup_00001919',
 'JobGroup_00001920',
 'JobGroup_00001921',
 'JobGroup_00001922',
 'JobGroup_00001923',
 'JobGroup_00001924',
 'JobGroup_00001925',
 'JobGroup_00001926',
 'JobGroup_00001927',
 'JobGroup_00001931',
 'JobGroup_00001935',
 'JobGroup_00001936',
 'JobGroup_00001937',
 'JobGroup_00001939',
 'JobGroup_00001940',
 'JobGroup_00001941',
 'JobGroup_00001942',
 'JobGroup_00001943',
 'JobGroup_00001944',
 'JobGroup_00001945',
 'Site_ARC.DESY.de',
 'Site_ARC.SIGNET.si',
 'Site_CLOUD.AWS_Sydney.au',
 'Site_CLOUD.AWS_Tokyo.jp',
 'Site_CLOUD.AWS_Virginia.us',
 'Site_CLOUD.CC1_Krakow.pl',
 'Site_DIRAC.BINP.ru',
 'Site_DIRAC.Beihang.cn',
 'Site_DIRAC.CINVESTAV.mx',
 'Site_DIRAC.Hokudai.jp',
 'Site_DIRAC.IITG.in',
 'Site_DIRAC.MIPT.ru',
 'Site_DIRAC.Nagoya.jp',
 'Site_DIRAC.Nara-WU.jp',
 'Site_DIRAC.Niigata.jp',
 'Site_DIRAC.Osaka-CU.jp',
 'Site_DIRAC.PNNL.us',
 'Site_DIRAC.RCNP.jp',
 'Site_DIRAC.TIFR.in',
 'Site_DIRAC.TMU.jp',
 'Site_DIRAC.Test.jp',
 'Site_DIRAC.Tokyo.jp',
 'Site_DIRAC.UAS.mx',
 'Site_DIRAC.UVic.ca',
 'Site_DIRAC.Yamagata.jp',
 'Site_DIRAC.Yonsei.kr',
 'Site_Group.KEK2.jp',
 'Site_LCG.CESNET.cz',
 'Site_LCG.CNAF.it',
 'Site_LCG.CYFRONET.pl',
 'Site_LCG.Cosenza.it',
 'Site_LCG.DESY.de',
 'Site_LCG.Frascati.it',
 'Site_LCG.HEPHY.at',
 'Site_LCG.KEK.jp',
 'Site_LCG.KEK2.jp',
 'Site_LCG.KISTI.kr',
 'Site_LCG.KIT.de',
 'Site_LCG.KMI.jp',
 'Site_LCG.Legnaro.it',
 'Site_LCG.MPPMU.de',
 'Site_LCG.McGill.ca',
 'Site_LCG.Melbourne.au',
 'Site_LCG.NCHC.tw',
 'Site_LCG.NTU.tw',
 'Site_LCG.Napoli.it',
 'Site_LCG.Pisa.it',
 'Site_LCG.Torino.it',
 'Site_LCG.ULAKBIM.tr',
 'Site_Multiple',
 'Site_SSH.KMI.jp',
 'Status_Failed',
 'UserPriority_2',
 'UserPriority_3',
 'UserPriority_5',
 'UserPriority_9',
 'UserPriority_10']

In [ ]:
##################################################

In [17]:
cols = cleaned.columns.tolist()

In [18]:
train_feat = cleaned.columns.tolist()
print(len(train_feat)) #125

train_feat.remove('HeartBeatTime')
train_feat.remove('JobID')
train_feat.remove('Status_Failed')


### Extra removal after noticing high accuracy
train_feat.remove('hbeat_start')
train_feat.remove('start_submit')
train_feat.remove('WallClockTime')

for c in cols:
    if 'JobGroup' in c:
        train_feat.remove(c)
##############################################

len(train_feat) #122

316

65

In [19]:
%%time
cleanedgrouped = cleaned.groupby('JobID')

CPU times: user 2.47 ms, sys: 0 ns, total: 2.47 ms
Wall time: 2.29 ms

In [20]:
print(thresholdd), cleaned.shape

1

(None, (469777, 316))

## Cleaned df to 3D tensor

### Make X

In [21]:
%%time
collecttrain = cleanedgrouped.apply(samples_features)

CPU times: user 2min 11s, sys: 331 ms, total: 2min 11s
Wall time: 2min 11s

In [22]:
collecttrain.tolist()[100].shape

(16, 1, 65)

In [23]:
for f in collecttrain.tolist()[100]:
    print(f)
    print('***********************')

[[2.34035058e-03 3.10206171e-05 4.47889750e-02 1.64880724e-01
  2.97099885e-04 4.43188161e-03 0.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00]]
***********************
[[0.00233312 0.00671984 0.04873505 0.1845941  0.00467841 0.01590768
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00232591 0.01371887 0.04653166 0.185837   0.00495486 0.01687554
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00231589 0.02073728 0.04757326 0.1869516  0.00513241 0.0170124
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.0023171  0.02772855 0.04847465 0.17548253 0.0052596  0.0171406
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00233592 0.03475085 0.04645154 0.16331132 0.00549037 0.01736808
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00234397 0.04174212 0.03793843 0.15151368 0.00554162 0.01741019
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00233646 0.04874114 0.03745768 0.1697656  0.00536637 0.01749321
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00232874 0.05571691 0.03789836 0.18390415 0.0055035  0.01762723
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00232773 0.06274695 0.03994151 0.18005128 0.00606715 0.01815702
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00232313 0.06973822 0.04228512 0.18387183 0.00616779 0.01826085
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00232583 0.07676052 0.043507   0.18317424 0.00654838 0.01863233
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00234871 0.08375567 0.04060253 0.16390957 0.00658786 0.01863444
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00234436 0.09074306 0.04016185 0.17574078 0.00667044 0.01871037
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00233528 0.09778086 0.04028203 0.18527105 0.00675321 0.0187868
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************
[[0.00233161 0.1047954  0.04092302 0.18409994 0.00687225 0.0189055
  0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]
***********************

In [24]:
X=[]

In [25]:
%%time
for x in collecttrain:
    #len(x)
    for i in x:
        X.append(i)

CPU times: user 258 ms, sys: 36 ms, total: 294 ms
Wall time: 293 ms

In [26]:
X = np.array(X)
X.shape

(469777, 1, 65)

In [27]:
## X is ready

In [28]:
# Label Column ('Status_Failed' is the label column)
label_col = ['Status_Failed']

In [29]:
# Takes a df and converts it to 3D tensor
# Each sample will have k time steps

def samples_label(df_input):
    
    k = thresholdd
    input_cols = label_col
    
    
    # takes a df
    # Put your inputs into a single list
    
    df = pd.DataFrame()
    
    df['single_input_vector'] = df_input[input_cols].apply(tuple, axis=1).apply(list)
    
    # Double-encapsulate list so that you can sum it in the next step and keep time steps as separate elements
    df['single_input_vector'] = df.single_input_vector.apply(lambda x: [list(x)])
        
    # The starting point
    df['cumulative_input_vectors'] = df['single_input_vector'].shift(0)
    
    for i in range(1,k):
        df['cumulative_input_vectors'] += df['single_input_vector'].shift(i)
          
    df.dropna(inplace=True)     # does operation in place & returns None

    # Extract your training data
    X_ = np.asarray(df.cumulative_input_vectors)
    
    # Use hstack to and reshape to make the inputs a 3d vector
    X = np.vstack(X_).reshape(len(df), k, len(input_cols))
    
    # Clean up
    del df
    
    return X
    # returns 3D array

# Build Y (each job separately)

In [30]:
cleanedgrouped = cleaned.groupby('JobID')

In [31]:
label_col

['Status_Failed']

In [32]:
%%time
collectlabel = cleanedgrouped.apply(samples_label)

CPU times: user 2min 1s, sys: 216 ms, total: 2min 1s
Wall time: 2min 1s

In [33]:
collectlabel.tolist()[:1]

[array([[[1]],

        [[1]],

        [[1]],

        [[1]],

        [[1]],

        [[1]],

        [[1]],

        [[1]],

        [[1]],

        [[1]],

        [[1]],

        [[1]],

        [[1]]])]

In [34]:
collectlabel.tolist()[100].shape

(16, 1, 1)

In [35]:
Y=[]

In [36]:
%%time
for x in collectlabel:
    #len(x)
    for i in x:
        Y.append(i)

CPU times: user 170 ms, sys: 16 ms, total: 186 ms
Wall time: 185 ms

In [37]:
Y = np.array(Y)
Y.shape

(469777, 1, 1)

In [38]:
YY = np.array([x[0][0] for x in Y]).reshape(len(Y),1)
YY.shape

(469777, 1)

In [39]:
YY[:5]

array([[1],
       [1],
       [1],
       [1],
       [1]])

In [40]:
## Y is ready
thresholdd

1

## Shuffle

In [41]:
# Unison shuffle
def unison_shuffled_copies(a, b):
    import numpy as np
    assert len(a) == len(b)
    p = np.random.permutation(len(a))
    return a[p], b[p]

In [42]:
%%time
X_final, Y_final = unison_shuffled_copies(X,YY)

CPU times: user 116 ms, sys: 68 ms, total: 184 ms
Wall time: 183 ms

In [43]:
X_final.shape, Y_final.shape

((469777, 1, 65), (469777, 1))

In [44]:
sum(Y_final[:10000])

array([4823])

del X
del Y
del YY

In [45]:
X_final, Y_final = unison_shuffled_copies(X_final, Y_final)

# Start: Build test set from 'takeoutdf'

# Build X_tes, Y_test using each JobID separately

In [46]:
takeoutdf = pd.read_pickle('takeoutdf_for_test_samples.pickle')
takeoutdf.shape

(202677, 316)

In [47]:
takeoutdf.Status_Failed.value_counts()

0    107243
1     95434
Name: Status_Failed, dtype: int64

In [48]:
# Training Features

In [129]:
print(len(train_feat))

65

In [128]:
(train_feat)

['AvailableDiskSpace',
 'CPUConsumed',
 'LoadAverage',
 'MemoryUsed',
 'RSS',
 'Vsize',
 'RescheduleCounter',
 'JobType_MCProductionBGx0',
 'JobType_Merge',
 'Site_ARC.DESY.de',
 'Site_ARC.SIGNET.si',
 'Site_CLOUD.AWS_Sydney.au',
 'Site_CLOUD.AWS_Tokyo.jp',
 'Site_CLOUD.AWS_Virginia.us',
 'Site_CLOUD.CC1_Krakow.pl',
 'Site_DIRAC.BINP.ru',
 'Site_DIRAC.Beihang.cn',
 'Site_DIRAC.CINVESTAV.mx',
 'Site_DIRAC.Hokudai.jp',
 'Site_DIRAC.IITG.in',
 'Site_DIRAC.MIPT.ru',
 'Site_DIRAC.Nagoya.jp',
 'Site_DIRAC.Nara-WU.jp',
 'Site_DIRAC.Niigata.jp',
 'Site_DIRAC.Osaka-CU.jp',
 'Site_DIRAC.PNNL.us',
 'Site_DIRAC.RCNP.jp',
 'Site_DIRAC.TIFR.in',
 'Site_DIRAC.TMU.jp',
 'Site_DIRAC.Test.jp',
 'Site_DIRAC.Tokyo.jp',
 'Site_DIRAC.UAS.mx',
 'Site_DIRAC.UVic.ca',
 'Site_DIRAC.Yamagata.jp',
 'Site_DIRAC.Yonsei.kr',
 'Site_Group.KEK2.jp',
 'Site_LCG.CESNET.cz',
 'Site_LCG.CNAF.it',
 'Site_LCG.CYFRONET.pl',
 'Site_LCG.Cosenza.it',
 'Site_LCG.DESY.de',
 'Site_LCG.Frascati.it',
 'Site_LCG.HEPHY.at',
 'Site_LCG.KEK.jp',
 'Site_LCG.KEK2.jp',
 'Site_LCG.KISTI.kr',
 'Site_LCG.KIT.de',
 'Site_LCG.KMI.jp',
 'Site_LCG.Legnaro.it',
 'Site_LCG.MPPMU.de',
 'Site_LCG.McGill.ca',
 'Site_LCG.Melbourne.au',
 'Site_LCG.NCHC.tw',
 'Site_LCG.NTU.tw',
 'Site_LCG.Napoli.it',
 'Site_LCG.Pisa.it',
 'Site_LCG.Torino.it',
 'Site_LCG.ULAKBIM.tr',
 'Site_Multiple',
 'Site_SSH.KMI.jp',
 'UserPriority_2',
 'UserPriority_3',
 'UserPriority_5',
 'UserPriority_9',
 'UserPriority_10']

In [51]:
takeoutdf.WallClockTime.tolist()[:5]

[1.2199327316073184e-05,
 0.007003391081386252,
 0.01399162140129751,
 0.020983672305745965,
 0.027975631657191156]

In [52]:
# Label Column ('Status_Failed' is the label column)
print(label_col)

['Status_Failed']

In [53]:
takeoutdf.shape

(202677, 316)

In [54]:
takeoutdf.isnull().values.ravel().sum()

0

In [55]:
takeoutdf = takeoutdf.dropna()

In [56]:
takeoutdf.isnull().values.ravel().sum()

0

In [57]:
takeoutdf.columns

Index(['JobID', 'HeartBeatTime', 'AvailableDiskSpace', 'CPUConsumed',
       'LoadAverage', 'MemoryUsed', 'RSS', 'Vsize', 'WallClockTime',
       'RescheduleCounter',
       ...
       'Site_LCG.Torino.it', 'Site_LCG.ULAKBIM.tr', 'Site_Multiple',
       'Site_SSH.KMI.jp', 'Status_Failed', 'UserPriority_2', 'UserPriority_3',
       'UserPriority_5', 'UserPriority_9', 'UserPriority_10'],
      dtype='object', length=316)

########################################################
takeoutdf.to_pickle('takeoutdf_for_test_samples.pickle')
########################################################

In [58]:
# Start of X_test

In [59]:
takeoutdfgrouped = takeoutdf.groupby('JobID')

In [60]:
%%time
collectXtest = takeoutdfgrouped.apply(samples_features)

CPU times: user 57.7 s, sys: 296 ms, total: 58 s
Wall time: 58 s

In [ ]:
#Testcase
gvb = pd.DataFrame({'JobID': [2,3,4,2,3,4], 'A':[12,23,34,45,56,67], 'B':[90,90,90,90,90,90]})

In [ ]:
# gvb.groupby('JobID').apply(sam)

In [ ]:
takeoutdfgrouped.tolist()[:1]

In [61]:
collectXtest.tolist()[100].shape

(23, 1, 65)

In [62]:
X_test=[]

In [63]:
%%time
for x in collectXtest:
    #len(x)
    for i in x:
        X_test.append(i)

CPU times: user 67.6 ms, sys: 20 ms, total: 87.6 ms
Wall time: 86.4 ms

In [64]:
X_test = np.array(X_test)
X_test.shape

(202677, 1, 65)

In [65]:
## X_test is ready

In [66]:
## Make Y_test

In [67]:
%%time
collectlabel = takeoutdfgrouped.apply(samples_label)

CPU times: user 52.7 s, sys: 116 ms, total: 52.8 s
Wall time: 52.8 s

In [68]:
collectlabel.tolist()[100].shape

(23, 1, 1)

In [69]:
Y_t=[]

In [70]:
%%time
for x in collectlabel:
    #len(x)
    for i in x:
        Y_t.append(i)

CPU times: user 76.2 ms, sys: 4 ms, total: 80.2 ms
Wall time: 79.4 ms

In [71]:
Y_t = np.array(Y_t)
Y_t.shape

(202677, 1, 1)

In [72]:
Y_test = np.array([x[0][0] for x in Y_t]).reshape(len(Y_t),1)
Y_test.shape

(202677, 1)

In [73]:
Y_test[:5]

array([[1],
       [1],
       [1],
       [1],
       [1]])

In [74]:
## Y_test is ready

In [75]:
X_test.shape, Y_test.shape

((202677, 1, 65), (202677, 1))

In [76]:
X_final.shape, Y_final.shape

((469777, 1, 65), (469777, 1))

In [77]:
sum(Y_test[:]), len(Y_test)

(array([95434]), 202677)

In [78]:
del Y_t

# End test set from 'takeoutdf'

## Build Model

In [79]:
input_length = X_final.shape[1]

input_dim = X_final.shape[2]

# Output dimensions is the shape of a single output vector
# In this case it's just 1, but it could be more
output_dim = len(Y_final[0])

In [80]:
# NO NEED TO SPLIT, SINCE TESTING WILL OCCUR ON leftoutdf taken out earlier

#from sklearn.model_selection import train_test_split

#X_train,X_test,y_train,y_test = train_test_split(X_final,Y_final,test_size=0.33,random_state=24)

In [81]:
#X_train.shape,y_train.shape, X_test.shape,  y_test.shape

In [82]:
sum([x[0] for x in Y_final])/ len(Y_final)

0.47002088224838595

In [83]:
Y_final[:5]

array([[0],
       [1],
       [0],
       [1],
       [0]])

In [84]:
from keras.models import Model, Sequential
from keras.layers import LSTM, Dense, Embedding, Dropout
input_dim, input_length, output_dim

/data/home/a1singh/anaconda3/envs/keras/lib/python3.5/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

(65, 1, 1)

In [85]:
# Model 1
def create_model(input_dim = input_dim, input_length = input_length, output_dim=output_dim):
    print ('Creating model...')
    model = Sequential()
    model.add(LSTM(20, input_shape=(input_length,input_dim),return_sequences=True))
    model.add(LSTM(20))
    model.add(Dense(output_dim, activation='sigmoid'))

    print ('Compiling...')
    model.compile(loss='binary_crossentropy',
                  optimizer='adam',
                  metrics=['binary_accuracy'])
    return model

In [100]:
# Model 2
def create_model(input_dim = input_dim, input_length = input_length, output_dim=output_dim):
    print ('Creating model...')
    model = Sequential()
    model.add(LSTM(50, input_shape=(input_length,input_dim),return_sequences=True))
    model.add(LSTM(50, input_shape=(input_length,input_dim),return_sequences=True))
    model.add(LSTM(50, input_shape=(input_length,input_dim),return_sequences=True))
    model.add(LSTM(50))
    model.add(Dense(output_dim, activation='sigmoid'))

    print ('Compiling...')
    model.compile(loss='binary_crossentropy',
                  optimizer='adam',
                  metrics=['binary_accuracy'])
    return model

In [112]:
# Model 3
def create_model(input_dim = input_dim, input_length = input_length, output_dim=output_dim):
    print ('Creating model...')
    model = Sequential()
    model.add(LSTM(100, input_shape=(input_length,input_dim),return_sequences=True))
    model.add(LSTM(100, input_shape=(input_length,input_dim),return_sequences=True))
    model.add(LSTM(100, input_shape=(input_length,input_dim),return_sequences=True))
    model.add(LSTM(100, input_shape=(input_length,input_dim),return_sequences=True))
    model.add(LSTM(100, input_shape=(input_length,input_dim),return_sequences=True))
    model.add(LSTM(100))
    model.add(Dense(output_dim, activation='sigmoid'))

    print ('Compiling...')
    model.compile(loss='binary_crossentropy',
                  optimizer='adam',
                  metrics=['binary_accuracy'])
    return model

In [113]:
model = create_model()

Creating model...
Compiling...

In [114]:
%%time

print ('Fitting model...')
history = model.fit(X_final,Y_final,batch_size=250, epochs=100, validation_split = 0.10, verbose = 1)

Fitting model...
Train on 422799 samples, validate on 46978 samples
Epoch 1/100
422799/422799 [==============================] - 49s 115us/step - loss: 0.3358 - binary_accuracy: 0.8473 - val_loss: 0.2893 - val_binary_accuracy: 0.8787
Epoch 2/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.2610 - binary_accuracy: 0.8922 - val_loss: 0.2386 - val_binary_accuracy: 0.9079
Epoch 3/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.2364 - binary_accuracy: 0.9032 - val_loss: 0.2988 - val_binary_accuracy: 0.8569
Epoch 4/100
422799/422799 [==============================] - 47s 111us/step - loss: 0.2440 - binary_accuracy: 0.8952 - val_loss: 0.2323 - val_binary_accuracy: 0.9053
Epoch 5/100
422799/422799 [==============================] - 47s 111us/step - loss: 0.2449 - binary_accuracy: 0.8971 - val_loss: 0.2255 - val_binary_accuracy: 0.9109
Epoch 6/100
422799/422799 [==============================] - 47s 111us/step - loss: 0.2208 - binary_accuracy: 0.9101 - val_loss: 0.2241 - val_binary_accuracy: 0.9080
Epoch 7/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.2150 - binary_accuracy: 0.9133 - val_loss: 0.2214 - val_binary_accuracy: 0.9098
Epoch 8/100
422799/422799 [==============================] - 44s 105us/step - loss: 0.2122 - binary_accuracy: 0.9139 - val_loss: 0.2047 - val_binary_accuracy: 0.9207
Epoch 9/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.2104 - binary_accuracy: 0.9141 - val_loss: 0.2756 - val_binary_accuracy: 0.8794
Epoch 10/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.2065 - binary_accuracy: 0.9167 - val_loss: 0.1967 - val_binary_accuracy: 0.9216
Epoch 11/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.2006 - binary_accuracy: 0.9205 - val_loss: 0.1999 - val_binary_accuracy: 0.9182
Epoch 12/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1953 - binary_accuracy: 0.9234 - val_loss: 0.1897 - val_binary_accuracy: 0.9254
Epoch 13/100
422799/422799 [==============================] - 47s 111us/step - loss: 0.1873 - binary_accuracy: 0.9273 - val_loss: 0.1803 - val_binary_accuracy: 0.9318
Epoch 14/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1835 - binary_accuracy: 0.9295 - val_loss: 0.1820 - val_binary_accuracy: 0.9280
Epoch 15/100
422799/422799 [==============================] - 47s 111us/step - loss: 0.1808 - binary_accuracy: 0.9305 - val_loss: 0.1737 - val_binary_accuracy: 0.9337
Epoch 16/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1779 - binary_accuracy: 0.9319 - val_loss: 0.1728 - val_binary_accuracy: 0.9349
Epoch 17/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.1763 - binary_accuracy: 0.9321 - val_loss: 0.1764 - val_binary_accuracy: 0.9284
Epoch 18/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1768 - binary_accuracy: 0.9319 - val_loss: 0.1768 - val_binary_accuracy: 0.9338
Epoch 19/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1722 - binary_accuracy: 0.9345 - val_loss: 0.1741 - val_binary_accuracy: 0.9313
Epoch 20/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1711 - binary_accuracy: 0.9350 - val_loss: 0.1819 - val_binary_accuracy: 0.9264
Epoch 21/100
422799/422799 [==============================] - 47s 111us/step - loss: 0.1678 - binary_accuracy: 0.9363 - val_loss: 0.1721 - val_binary_accuracy: 0.9336
Epoch 22/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1675 - binary_accuracy: 0.9364 - val_loss: 0.1807 - val_binary_accuracy: 0.9282
Epoch 23/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1656 - binary_accuracy: 0.9372 - val_loss: 0.1644 - val_binary_accuracy: 0.9405
Epoch 24/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1627 - binary_accuracy: 0.9391 - val_loss: 0.1606 - val_binary_accuracy: 0.9413
Epoch 25/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1628 - binary_accuracy: 0.9392 - val_loss: 0.1620 - val_binary_accuracy: 0.9388
Epoch 26/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1605 - binary_accuracy: 0.9400 - val_loss: 0.1726 - val_binary_accuracy: 0.9358
Epoch 27/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.1593 - binary_accuracy: 0.9406 - val_loss: 0.1547 - val_binary_accuracy: 0.9409
Epoch 28/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1578 - binary_accuracy: 0.9414 - val_loss: 0.1568 - val_binary_accuracy: 0.9440
Epoch 29/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1562 - binary_accuracy: 0.9417 - val_loss: 0.1521 - val_binary_accuracy: 0.9452
Epoch 30/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1551 - binary_accuracy: 0.9426 - val_loss: 0.1524 - val_binary_accuracy: 0.9419
Epoch 31/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1545 - binary_accuracy: 0.9427 - val_loss: 0.1490 - val_binary_accuracy: 0.9443
Epoch 32/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1528 - binary_accuracy: 0.9435 - val_loss: 0.1516 - val_binary_accuracy: 0.9419
Epoch 33/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1509 - binary_accuracy: 0.9445 - val_loss: 0.1483 - val_binary_accuracy: 0.9450
Epoch 34/100
422799/422799 [==============================] - 45s 106us/step - loss: 0.1510 - binary_accuracy: 0.9444 - val_loss: 0.1537 - val_binary_accuracy: 0.9416
Epoch 35/100
422799/422799 [==============================] - 45s 107us/step - loss: 0.1546 - binary_accuracy: 0.9424 - val_loss: 0.1481 - val_binary_accuracy: 0.9469
Epoch 36/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1495 - binary_accuracy: 0.9450 - val_loss: 0.1558 - val_binary_accuracy: 0.9403
Epoch 37/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1480 - binary_accuracy: 0.9457 - val_loss: 0.1439 - val_binary_accuracy: 0.9480
Epoch 38/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1473 - binary_accuracy: 0.9459 - val_loss: 0.1494 - val_binary_accuracy: 0.9439
Epoch 39/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1471 - binary_accuracy: 0.9461 - val_loss: 0.1415 - val_binary_accuracy: 0.9491
Epoch 40/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1449 - binary_accuracy: 0.9470 - val_loss: 0.1451 - val_binary_accuracy: 0.9473
Epoch 41/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1445 - binary_accuracy: 0.9472 - val_loss: 0.1416 - val_binary_accuracy: 0.9484
Epoch 42/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1431 - binary_accuracy: 0.9480 - val_loss: 0.1401 - val_binary_accuracy: 0.9496
Epoch 43/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1427 - binary_accuracy: 0.9480 - val_loss: 0.1391 - val_binary_accuracy: 0.9499
Epoch 44/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1413 - binary_accuracy: 0.9485 - val_loss: 0.1418 - val_binary_accuracy: 0.9478
Epoch 45/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1407 - binary_accuracy: 0.9485 - val_loss: 0.1430 - val_binary_accuracy: 0.9461
Epoch 46/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1406 - binary_accuracy: 0.9489 - val_loss: 0.1412 - val_binary_accuracy: 0.9488
Epoch 47/100
422799/422799 [==============================] - 44s 103us/step - loss: 0.1395 - binary_accuracy: 0.9492 - val_loss: 0.1353 - val_binary_accuracy: 0.9506
Epoch 48/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.1386 - binary_accuracy: 0.9499 - val_loss: 0.1360 - val_binary_accuracy: 0.9513
Epoch 49/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.1380 - binary_accuracy: 0.9498 - val_loss: 0.1333 - val_binary_accuracy: 0.9514

Epoch 50/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1382 - binary_accuracy: 0.9499 - val_loss: 0.1598 - val_binary_accuracy: 0.9390
Epoch 51/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.1380 - binary_accuracy: 0.9500 - val_loss: 0.1401 - val_binary_accuracy: 0.9505
Epoch 52/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1374 - binary_accuracy: 0.9502 - val_loss: 0.1515 - val_binary_accuracy: 0.9429
Epoch 53/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1366 - binary_accuracy: 0.9506 - val_loss: 0.1742 - val_binary_accuracy: 0.9311
Epoch 54/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1352 - binary_accuracy: 0.9511 - val_loss: 0.1361 - val_binary_accuracy: 0.9506
Epoch 55/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.1346 - binary_accuracy: 0.9515 - val_loss: 0.1361 - val_binary_accuracy: 0.9492
Epoch 56/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1345 - binary_accuracy: 0.9513 - val_loss: 0.1299 - val_binary_accuracy: 0.9541
Epoch 57/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1335 - binary_accuracy: 0.9519 - val_loss: 0.1337 - val_binary_accuracy: 0.9503
Epoch 58/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1334 - binary_accuracy: 0.9519 - val_loss: 0.1330 - val_binary_accuracy: 0.9517
Epoch 59/100
422799/422799 [==============================] - 47s 110us/step - loss: 0.1332 - binary_accuracy: 0.9525 - val_loss: 0.1364 - val_binary_accuracy: 0.9501
Epoch 60/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1327 - binary_accuracy: 0.9522 - val_loss: 0.1331 - val_binary_accuracy: 0.9521
Epoch 61/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1315 - binary_accuracy: 0.9530 - val_loss: 0.1305 - val_binary_accuracy: 0.9528
Epoch 62/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1318 - binary_accuracy: 0.9527 - val_loss: 0.1326 - val_binary_accuracy: 0.9523
Epoch 63/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.1306 - binary_accuracy: 0.9531 - val_loss: 0.1442 - val_binary_accuracy: 0.9471
Epoch 64/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1308 - binary_accuracy: 0.9532 - val_loss: 0.1295 - val_binary_accuracy: 0.9543
Epoch 65/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1298 - binary_accuracy: 0.9535 - val_loss: 0.1254 - val_binary_accuracy: 0.9555
Epoch 66/100
422799/422799 [==============================] - 46s 110us/step - loss: 0.1298 - binary_accuracy: 0.9538 - val_loss: 0.1238 - val_binary_accuracy: 0.9563
Epoch 67/100
422799/422799 [==============================] - 45s 107us/step - loss: 0.1294 - binary_accuracy: 0.9538 - val_loss: 0.1271 - val_binary_accuracy: 0.9550
Epoch 68/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1284 - binary_accuracy: 0.9542 - val_loss: 0.1250 - val_binary_accuracy: 0.9566
Epoch 69/100
422799/422799 [==============================] - 45s 107us/step - loss: 0.1295 - binary_accuracy: 0.9538 - val_loss: 0.1319 - val_binary_accuracy: 0.9519
Epoch 70/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1314 - binary_accuracy: 0.9528 - val_loss: 0.1303 - val_binary_accuracy: 0.9525
Epoch 71/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1290 - binary_accuracy: 0.9539 - val_loss: 0.1399 - val_binary_accuracy: 0.9480
Epoch 72/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1283 - binary_accuracy: 0.9544 - val_loss: 0.1316 - val_binary_accuracy: 0.9538
Epoch 73/100
422799/422799 [==============================] - 43s 101us/step - loss: 0.1288 - binary_accuracy: 0.9540 - val_loss: 0.1288 - val_binary_accuracy: 0.9542
Epoch 74/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1277 - binary_accuracy: 0.9544 - val_loss: 0.1271 - val_binary_accuracy: 0.9547
Epoch 75/100
422799/422799 [==============================] - 45s 108us/step - loss: 0.1274 - binary_accuracy: 0.9545 - val_loss: 0.1287 - val_binary_accuracy: 0.9552
Epoch 76/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1263 - binary_accuracy: 0.9548 - val_loss: 0.1297 - val_binary_accuracy: 0.9533
Epoch 77/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1266 - binary_accuracy: 0.9549 - val_loss: 0.1265 - val_binary_accuracy: 0.9557
Epoch 78/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1262 - binary_accuracy: 0.9549 - val_loss: 0.1279 - val_binary_accuracy: 0.9540
Epoch 79/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1259 - binary_accuracy: 0.9552 - val_loss: 0.1232 - val_binary_accuracy: 0.9564
Epoch 80/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1252 - binary_accuracy: 0.9556 - val_loss: 0.1245 - val_binary_accuracy: 0.9556
Epoch 81/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1253 - binary_accuracy: 0.9554 - val_loss: 0.1251 - val_binary_accuracy: 0.9549
Epoch 82/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1245 - binary_accuracy: 0.9556 - val_loss: 0.1231 - val_binary_accuracy: 0.9574
Epoch 83/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1242 - binary_accuracy: 0.9559 - val_loss: 0.1236 - val_binary_accuracy: 0.9560
Epoch 84/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1240 - binary_accuracy: 0.9558 - val_loss: 0.1210 - val_binary_accuracy: 0.9578
Epoch 85/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1241 - binary_accuracy: 0.9558 - val_loss: 0.1224 - val_binary_accuracy: 0.9577
Epoch 86/100
422799/422799 [==============================] - 44s 104us/step - loss: 0.1234 - binary_accuracy: 0.9561 - val_loss: 0.1244 - val_binary_accuracy: 0.9558
Epoch 87/100
422799/422799 [==============================] - 44s 105us/step - loss: 0.1238 - binary_accuracy: 0.9560 - val_loss: 0.1225 - val_binary_accuracy: 0.9572
Epoch 88/100
422799/422799 [==============================] - 45s 107us/step - loss: 0.1230 - binary_accuracy: 0.9562 - val_loss: 0.1261 - val_binary_accuracy: 0.9541
Epoch 89/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1227 - binary_accuracy: 0.9564 - val_loss: 0.1220 - val_binary_accuracy: 0.9560
Epoch 90/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1223 - binary_accuracy: 0.9564 - val_loss: 0.1215 - val_binary_accuracy: 0.9572
Epoch 91/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1218 - binary_accuracy: 0.9566 - val_loss: 0.1268 - val_binary_accuracy: 0.9542
Epoch 92/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1218 - binary_accuracy: 0.9567 - val_loss: 0.1246 - val_binary_accuracy: 0.9547
Epoch 93/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1222 - binary_accuracy: 0.9566 - val_loss: 0.1235 - val_binary_accuracy: 0.9557
Epoch 94/100
422799/422799 [==============================] - 46s 108us/step - loss: 0.1217 - binary_accuracy: 0.9566 - val_loss: 0.1279 - val_binary_accuracy: 0.9544
Epoch 95/100
422799/422799 [==============================] - 45s 107us/step - loss: 0.1211 - binary_accuracy: 0.9570 - val_loss: 0.1223 - val_binary_accuracy: 0.9570
Epoch 96/100
422799/422799 [==============================] - 45s 108us/step - loss: 0.1209 - binary_accuracy: 0.9570 - val_loss: 0.1280 - val_binary_accuracy: 0.9547
Epoch 97/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1207 - binary_accuracy: 0.9571 - val_loss: 0.1236 - val_binary_accuracy: 0.9571
Epoch 98/100
422799/422799 [==============================] - 46s 109us/step - loss: 0.1216 - binary_accuracy: 0.9567 - val_loss: 0.1205 - val_binary_accuracy: 0.9577
Epoch 99/100

422799/422799 [==============================] - 47s 110us/step - loss: 0.1200 - binary_accuracy: 0.9572 - val_loss: 0.1205 - val_binary_accuracy: 0.9588
Epoch 100/100
422799/422799 [==============================] - 47s 112us/step - loss: 0.1198 - binary_accuracy: 0.9575 - val_loss: 0.1173 - val_binary_accuracy: 0.9594
CPU times: user 10h 10min 5s, sys: 2h 13min 56s, total: 12h 24min 1s
Wall time: 1h 16min 48s

In [115]:
loss, accuracy = model.evaluate(X_test, Y_test)

202677/202677 [==============================] - 29s 145us/step

# Accuracy

In [116]:
loss, accuracy

(0.14474722690524275, 0.9540697760476028)

In [117]:
# when taking 10 timesteps, and keeping separate test and training JobIDs
# loss, accuracy is: 
# on X_test, Y_test

In [118]:
y_pred = model.predict(X_test)

In [127]:
y_pred[15000:15080]

array([[0.3247268 ],
       [0.31870815],
       [0.28421244],
       [0.22386442],
       [0.22075215],
       [0.2661387 ],
       [0.07988553],
       [0.07072083],
       [0.06752232],
       [0.0714664 ],
       [0.06728494],
       [0.06813868],
       [0.06793962],
       [0.06596684],
       [0.06443483],
       [0.06454931],
       [0.01267954],
       [0.00656816],
       [0.00794611],
       [0.00827447],
       [0.00800472],
       [0.01032628],
       [0.01087541],
       [0.01189391],
       [0.01323586],
       [0.01422975],
       [0.0094241 ],
       [0.01176452],
       [0.01037369],
       [0.00992872],
       [0.00961198],
       [0.00929684],
       [0.00901039],
       [0.0089169 ],
       [0.00908718],
       [0.00933123],
       [0.0104598 ],
       [0.00390302],
       [0.00307004],
       [0.0030457 ],
       [0.00301726],
       [0.00302366],
       [0.00301221],
       [0.0030088 ],
       [0.00303142],
       [0.00302974],
       [0.00303038],
       [0.00302467],
       [0.00303407],
       [0.00304394],
       [0.00307562],
       [0.00424723],
       [0.00381015],
       [0.00315623],
       [0.00315103],
       [0.00319094],
       [0.003174  ],
       [0.00315345],
       [0.00308158],
       [0.00300863],
       [0.00300639],
       [0.00304638],
       [0.00304455],
       [0.00302253],
       [0.00304161],
       [0.00309844],
       [0.00689836],
       [0.00801332],
       [0.00774263],
       [0.00775172],
       [0.00789239],
       [0.00750915],
       [0.00769186],
       [0.00749433],
       [0.00753116],
       [0.00785959],
       [0.00777807],
       [0.00757644],
       [0.00775443],
       [0.00737217]], dtype=float32)

# Binary classification accuracy

In [120]:
y_true = pd.Series([x[0] for x in Y_test])

# Use np.rint for rounding off 
y_predicted = pd.Series([ np.rint(j[0]) for j in y_pred])

In [121]:
np.mean(np.equal(y_true, y_predicted))

0.9540697760476028

# Confusion matrix

In [122]:
pd.crosstab(y_true, y_predicted, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted     0.0    1.0     All
True
0          104515   2728  107243
1            6581  88853   95434
All        111096  91581  202677

In [123]:
pd.crosstab(y_true, y_predicted, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted     0.0    1.0     All
True
0          104515   2728  107243
1            6581  88853   95434
All        111096  91581  202677

In [124]:
len(takeoutdf.JobID.unique().tolist()), len(cleaned.JobID.unique().tolist())

(13097, 30559)

In [125]:
# Verify that there is no intersection between training and test jobs

list(set(takeoutdf.JobID.tolist()) & set(cleaned.JobID.tolist()))

[]

In [126]:
# Predicting all 0s ??
sum([ (j) for j in y_predicted]), len(y_predicted)

(91581.0, 202677)

# Checkpoint: Valid code above this line

## Appendix below this line:

In [ ]:
#### Save X to disk



#### Create Labels



##### Make X_train, X_test




##### Create LSTM



##### Train LSTM


##### Test LSTM

In [ ]:
def vector_generator():
    # for a given JOBID, return a list of vectors
    # each vector is a feature vector (observation) at a timestamp t
    # length of feature vector = n
    
    new_dict = {}
    # jobID --> { timestamp -> [features], timestamp -> [features], timestamp -> [features], ... }
    
    ####################################
    # Single Table Features
    ####################################
    
    #### Iterate throught each table and pick the feature of interest from each table
    
    #### Continuous
    
    #### Categorical
    
    
    ####################################
    # Multi-table features (JOINs)
    ####################################
    
    #### Continuous
    
    #### Categorical
    
    
    return None

In [ ]:
def vec_2_samples():
    # take the list of vectors for a given job, and reshape it to 3D np array
    # each sample could be one-time step or >1 time-step observation
    # 3D array : s x t x n
    # s = # of samples
    # t = # of timesteps in each sample
    # n = # length of each feature vector
    return None

In [ ]:
def sample_stacker():
    # takes samples of a set of jobs
    # and stacks these samples on top of each other
    # np.append(A, B, axis =0)
    # returned 3D array is a set of samples that can be fed to an LSTM
    return None