In [30]:
import pandas as pd
# Import pyplot, figures inline, set style, plot pairplot
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
import pandas as pd
alldonejobs = pd.read_pickle('all_done_from_jobs_table.pickle')

## Done Jobs

In [4]:
alldonejobs = alljobs
alldonejobs.columns

Index(['JobID', 'JobType', 'DIRACSetup', 'JobGroup', 'JobSplitType',
       'MasterJobID', 'Site', 'JobName', 'Owner', 'OwnerDN', 'OwnerGroup',
       'SubmissionTime', 'RescheduleTime', 'LastUpdateTime', 'StartExecTime',
       'HeartBeatTime', 'EndExecTime', 'Status', 'MinorStatus',
       'ApplicationStatus', 'ApplicationNumStatus', 'CPUTime', 'UserPriority',
       'SystemPriority', 'RescheduleCounter', 'VerifiedFlag', 'DeletedFlag',
       'KilledFlag', 'FailedFlag', 'ISandboxReadyFlag', 'OSandboxReadyFlag',
       'RetrievedFlag', 'AccountedFlag'],
      dtype='object')

In [7]:
alldonejobs.shape

(9374544, 33)

In [27]:
stats = alldonejobs[['JobGroup','Status']].groupby(['JobGroup']).agg(['count'])

In [34]:
stats.head()

         Status
          count
JobGroup
00000000  10681
00001622      2
00001635  44006
00001636  88019
00001637  22008

In [37]:
stats.columns = stats.columns.get_level_values(0)

In [41]:
stats=stats.reset_index()

In [45]:
stats.columns

Index(['JobGroup', 'Status'], dtype='object')

In [ ]:
pd.DataFrame.hist(stats, column='Status', by='JobGroup', grid=True, xlabelsize=None, xrot=None, 
                  ylabelsize=None, yrot=None, ax=None, sharex=False, sharey=False, 
                  figsize=None, layout=None, bins=10)

## Failed Jobs