In [1]:
# This notebook contains:
#
# Functions to connect to MYSQL database and generate list of feature vectors for each JOBID

In [2]:
# Connect to MYSQL database

hostname = 'localhost'
username = 'a1singh'
password = 'sdsc1234'
database = 'belle2'

import pandas as pd
import numpy as np

In [3]:
import sys
print(sys.executable)
print(sys.version)

/data/home/a1singh/anaconda3/envs/keras/bin/python
3.5.4 |Anaconda, Inc.| (default, Nov 20 2017, 18:44:38)
[GCC 7.2.0]

In [4]:
import pymysql
from IPython.display import display, HTML

conn = pymysql.connect(host=hostname, user=username, passwd=password, db=database)
print(conn)

<pymysql.connections.Connection object at 0x7fd80fe738d0>

In [5]:
query = "show tables"
df = pd.read_sql(query, conn)
tables = df['Tables_in_belle2'].tolist()

In [6]:
for tname in tables:
    print(tname)
    df = pd.read_sql("SHOW COLUMNS FROM "+tname, conn)
    display(df)
    x = df.as_matrix()
    print(x)
    print(len(x))
    print(100*'-')

AtticJobParameters

             Field              Type Null  Key Default Extra
0            JobID  int(11) unsigned   NO  PRI    None
1             Name      varchar(100)   NO  PRI    None
2            Value              blob   NO         None
3  RescheduleCycle  int(11) unsigned   NO  PRI    None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['Name' 'varchar(100)' 'NO' 'PRI' None '']
 ['Value' 'blob' 'NO' '' None '']
 ['RescheduleCycle' 'int(11) unsigned' 'NO' 'PRI' None '']]
4
----------------------------------------------------------------------------------------------------
HeartBeatLoggingInfo

           Field              Type Null  Key Default Extra
0          JobID  int(11) unsigned   NO  PRI    None
1           Name      varchar(100)   NO  PRI    None
2          Value              blob   NO         None
3  HeartBeatTime          datetime   NO  PRI    None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['Name' 'varchar(100)' 'NO' 'PRI' None '']
 ['Value' 'blob' 'NO' '' None '']
 ['HeartBeatTime' 'datetime' 'NO' 'PRI' None '']]
4
----------------------------------------------------------------------------------------------------
InputData

    Field              Type Null  Key      Default Extra
0   JobID  int(11) unsigned   NO  PRI         None
1     LFN      varchar(255)   NO  PRI
2  Status       varchar(32)   NO       AprioriGood

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['LFN' 'varchar(255)' 'NO' 'PRI' '' '']
 ['Status' 'varchar(32)' 'NO' '' 'AprioriGood' '']]
3
----------------------------------------------------------------------------------------------------
JobCommands

           Field              Type Null  Key   Default Extra
0          JobID  int(11) unsigned   NO  PRI      None
1        Command      varchar(100)   NO           None
2      Arguments      varchar(100)   NO  PRI      None
3         Status       varchar(64)   NO       Received
4  ReceptionTime          datetime   NO  PRI      None
5  ExecutionTime          datetime  YES           None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['Command' 'varchar(100)' 'NO' '' None '']
 ['Arguments' 'varchar(100)' 'NO' 'PRI' None '']
 ['Status' 'varchar(64)' 'NO' '' 'Received' '']
 ['ReceptionTime' 'datetime' 'NO' 'PRI' None '']
 ['ExecutionTime' 'datetime' 'YES' '' None '']]
6
----------------------------------------------------------------------------------------------------
JobJDLs

             Field              Type Null  Key Default           Extra
0            JobID  int(11) unsigned   NO  PRI    None  auto_increment
1              JDL        mediumblob   NO         None
2  JobRequirements              blob   NO         None
3      OriginalJDL        mediumblob   NO         None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None 'auto_increment']
 ['JDL' 'mediumblob' 'NO' '' None '']
 ['JobRequirements' 'blob' 'NO' '' None '']
 ['OriginalJDL' 'mediumblob' 'NO' '' None '']]
4
----------------------------------------------------------------------------------------------------
JobParameters

   Field              Type Null  Key Default Extra
0  JobID  int(11) unsigned   NO  PRI    None
1   Name      varchar(100)   NO  PRI    None
2  Value              blob   NO         None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['Name' 'varchar(100)' 'NO' 'PRI' None '']
 ['Value' 'blob' 'NO' '' None '']]
3
----------------------------------------------------------------------------------------------------
Jobs

,Field,Type,Null,Key,Default,Extra
0,JobID,int(11) unsigned,NO,PRI,0,
1,JobType,varchar(32),NO,MUL,user,
2,DIRACSetup,varchar(32),NO,MUL,test,
3,JobGroup,varchar(32),NO,MUL,00000000,
4,JobSplitType,"enum('Single','Master','Subjob','DAGNode')",NO,MUL,Single,
5,MasterJobID,int(11) unsigned,NO,,0,
6,Site,varchar(100),NO,MUL,ANY,
7,JobName,varchar(128),NO,,Unknown,
8,Owner,varchar(32),NO,MUL,Unknown,
9,OwnerDN,varchar(255),NO,MUL,Unknown,
10,OwnerGroup,varchar(128),NO,MUL,Unknown,
11,SubmissionTime,datetime,YES,,None,
12,RescheduleTime,datetime,YES,,None,
13,LastUpdateTime,datetime,YES,MUL,None,
14,StartExecTime,datetime,YES,,None,
15,HeartBeatTime,datetime,YES,,None,
16,EndExecTime,datetime,YES,,None,
17,Status,varchar(32),NO,MUL,Received,
18,MinorStatus,varchar(128),NO,MUL,Unknown,
19,ApplicationStatus,varchar(255),YES,MUL,Unknown,
20,ApplicationNumStatus,int(11),NO,,0,
21,CPUTime,float,NO,,0,
22,UserPriority,int(11),NO,,0,
23,SystemPriority,int(11),NO,,0,
24,RescheduleCounter,int(11),NO,,0,
25,VerifiedFlag,"enum('True','False')",NO,,False,
26,DeletedFlag,"enum('True','False')",NO,,False,
27,KilledFlag,"enum('True','False')",NO,,False,
28,FailedFlag,"enum('True','False')",NO,,False,
29,ISandboxReadyFlag,"enum('True','False')",NO,,False,
30,OSandboxReadyFlag,"enum('True','False')",NO,,False,
31,RetrievedFlag,"enum('True','False')",NO,,False,
32,AccountedFlag,"enum('True','False','Failed')",NO,,False,

[['JobID' 'int(11) unsigned' 'NO' 'PRI' '0' '']
 ['JobType' 'varchar(32)' 'NO' 'MUL' 'user' '']
 ['DIRACSetup' 'varchar(32)' 'NO' 'MUL' 'test' '']
 ['JobGroup' 'varchar(32)' 'NO' 'MUL' '00000000' '']
 ['JobSplitType' "enum('Single','Master','Subjob','DAGNode')" 'NO' 'MUL'
  'Single' '']
 ['MasterJobID' 'int(11) unsigned' 'NO' '' '0' '']
 ['Site' 'varchar(100)' 'NO' 'MUL' 'ANY' '']
 ['JobName' 'varchar(128)' 'NO' '' 'Unknown' '']
 ['Owner' 'varchar(32)' 'NO' 'MUL' 'Unknown' '']
 ['OwnerDN' 'varchar(255)' 'NO' 'MUL' 'Unknown' '']
 ['OwnerGroup' 'varchar(128)' 'NO' 'MUL' 'Unknown' '']
 ['SubmissionTime' 'datetime' 'YES' '' None '']
 ['RescheduleTime' 'datetime' 'YES' '' None '']
 ['LastUpdateTime' 'datetime' 'YES' 'MUL' None '']
 ['StartExecTime' 'datetime' 'YES' '' None '']
 ['HeartBeatTime' 'datetime' 'YES' '' None '']
 ['EndExecTime' 'datetime' 'YES' '' None '']
 ['Status' 'varchar(32)' 'NO' 'MUL' 'Received' '']
 ['MinorStatus' 'varchar(128)' 'NO' 'MUL' 'Unknown' '']
 ['ApplicationStatus' 'varchar(255)' 'YES' 'MUL' 'Unknown' '']
 ['ApplicationNumStatus' 'int(11)' 'NO' '' '0' '']
 ['CPUTime' 'float' 'NO' '' '0' '']
 ['UserPriority' 'int(11)' 'NO' '' '0' '']
 ['SystemPriority' 'int(11)' 'NO' '' '0' '']
 ['RescheduleCounter' 'int(11)' 'NO' '' '0' '']
 ['VerifiedFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['DeletedFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['KilledFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['FailedFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['ISandboxReadyFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['OSandboxReadyFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['RetrievedFlag' "enum('True','False')" 'NO' '' 'False' '']
 ['AccountedFlag' "enum('True','False','Failed')" 'NO' '' 'False' '']]
33
----------------------------------------------------------------------------------------------------
OptimizerParameters

   Field              Type Null  Key Default Extra
0  JobID  int(11) unsigned   NO  PRI    None
1   Name      varchar(100)   NO  PRI    None
2  Value        mediumblob   NO         None

[['JobID' 'int(11) unsigned' 'NO' 'PRI' None '']
 ['Name' 'varchar(100)' 'NO' 'PRI' None '']
 ['Value' 'mediumblob' 'NO' '' None '']]
3
----------------------------------------------------------------------------------------------------
SiteMask

            Field          Type Null  Key Default Extra
0            Site   varchar(64)   NO  PRI    None
1          Status   varchar(64)   NO         None
2  LastUpdateTime      datetime   NO         None
3          Author  varchar(255)   NO         None
4         Comment          blob   NO         None

[['Site' 'varchar(64)' 'NO' 'PRI' None '']
 ['Status' 'varchar(64)' 'NO' '' None '']
 ['LastUpdateTime' 'datetime' 'NO' '' None '']
 ['Author' 'varchar(255)' 'NO' '' None '']
 ['Comment' 'blob' 'NO' '' None '']]
5
----------------------------------------------------------------------------------------------------
SiteMaskLogging

        Field          Type Null  Key Default Extra
0        Site   varchar(64)   NO  PRI    None
1      Status   varchar(64)   NO         None
2  UpdateTime      datetime   NO  PRI    None
3      Author  varchar(255)   NO         None
4     Comment          blob   NO         None

[['Site' 'varchar(64)' 'NO' 'PRI' None '']
 ['Status' 'varchar(64)' 'NO' '' None '']
 ['UpdateTime' 'datetime' 'NO' 'PRI' None '']
 ['Author' 'varchar(255)' 'NO' '' None '']
 ['Comment' 'blob' 'NO' '' None '']]
5
----------------------------------------------------------------------------------------------------

In [ ]:
%%time
# Total number of rows in HeartBeatLoggingInfo (ans - 906,320,307)

df = pd.read_sql("SELECT COUNT(*) FROM HeartBeatLoggingInfo", conn)
display(df)

In [ ]:
%%time
# Total number of unique JobIDs in HeartBeatLoggingInfo
# number of distinct JobIDs (ans - 10,137,037)

df = pd.read_sql("SELECT COUNT(DISTINCT JobID) FROM HeartBeatLoggingInfo LIMIT 10", conn)
display(df)

In [ ]:
%%time
# Total number of unique timestamps in HeartBeatLoggingInfo
# number of distinct hearbeattime entries (ans - 1,616,7003)

df_stamps = pd.read_sql("SELECT COUNT(DISTINCT HeartBeatTime) FROM HeartBeatLoggingInfo LIMIT 10", conn)
display(df_stamps)

In [ ]:
# Average Number of timestamps per jobID

16167003 / 10137037

In [ ]:
# Average number of key-value pairs per timestamp

906320307 / 16167003

# Get Failed Jobs

In [ ]:
%%time

query       = 'SELECT * FROM Jobs WHERE Status = \'Failed\' LIMIT 133000'
failedJobs    = pd.read_sql_query(query,con=conn)

In [ ]:
failedJobs.shape

In [ ]:
listofjobids = failedJobs['JobID'].tolist()
listofjobids = list(set(listofjobids))
len(listofjobids)

In [ ]:
%%time
# # Keep only the rows whose jobID is in HeartBeatLogging table

query       = 'SELECT * FROM HeartBeatLoggingInfo WHERE JobID IN (' + ','.join((str(x) for x in listofjobids)) + ')'
dataHBLI_failed    = pd.read_sql_query(query,con=conn)

In [ ]:
dataHBLI_failed.JobID.nunique()

# Get Successful Jobs

In [ ]:
# Find equal number of Successful job

In [ ]:
%%time

query       = 'SELECT * FROM Jobs WHERE Status = \'Done\' LIMIT 100000'
successJobs    = pd.read_sql_query(query,con=conn)

In [ ]:
successJobs.shape

In [ ]:
listofjobids = successJobs['JobID'].tolist()
listofjobids = list(set(listofjobids))
len(listofjobids)

In [ ]:
%%time
# # Keep only the rows whose jobID is in HeartBeatLogging table

query   = 'SELECT * FROM HeartBeatLoggingInfo WHERE JobID IN (' + ','.join((str(x) for x in listofjobids)) + ')'
dataHBLI_success = pd.read_sql_query(query,con=conn)

In [ ]:
dataHBLI_success.shape

In [ ]:
dataHBLI_success.JobID.nunique()

### Combine HBLI tables pieces = (failed, success)

In [ ]:
dataHBLI_failed.shape, dataHBLI_success.shape

In [ ]:
pieces = (dataHBLI_failed, dataHBLI_success)

In [ ]:
allHBLI = pd.concat(pieces, ignore_index = True)

### Combine Jobs tables pieces = (failed, success)

In [ ]:
failedJobs.shape, successJobs.shape

In [ ]:
pieces = (failedJobs, successJobs)

In [ ]:
allJobs = pd.concat(pieces, ignore_index = True)
allJobs.head()

# Process HBLI table: allHBLI

In [ ]:
allHBLI.head()

In [ ]:
allHBLI.shape

In [ ]:
allHBLI.Value = pd.to_numeric(allHBLI['Value'], errors='raise')

In [ ]:
allHBLI.HeartBeatTime = pd.to_datetime(allHBLI['HeartBeatTime'], errors='raise')

In [ ]:
# Number of unique jobIDs in 10M rows of dataHB (ans-185879)
allHBLI.JobID.nunique()

In [ ]:
# Number of unique timestampes in 10M rows of dataHB (ans-242222)
allHBLI.HeartBeatTime.nunique()

In [ ]:
allHBLI.tail()

In [ ]:
%%time
# 10 millions rows took 10 sec to pivot

allHBLI_wide=allHBLI.pivot_table(index=['JobID','HeartBeatTime'], columns='Name', values='Value')

In [ ]:
# 1  million rows have shape (142863,  7) after pivot
# 10 million rows have shape (1428574, 7) after pivot

allHBLI_wide.shape

In [ ]:
allHBLI_wide.isnull().values.ravel().sum()

In [ ]:
# Drop the last few rows
allHBLI_wide = allHBLI_wide.dropna()

In [ ]:
allHBLI_wide.shape

In [ ]:
allHBLI_wide.head(10)

In [ ]:
allHBLI_wide.columns

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
allHBLI_wide[['AvailableDiskSpace', 'CPUConsumed', 'LoadAverage', 
             'MemoryUsed', 'RSS','Vsize', 'WallClockTime']] = scaler.fit_transform(allHBLI_wide[['AvailableDiskSpace', 
                                                                        'CPUConsumed', 'LoadAverage', 'MemoryUsed', 
                                                                        'RSS','Vsize', 'WallClockTime']])

In [ ]:
allHBLI_wide.head(10)

In [ ]:
allHBLI_wide = allHBLI_wide.reset_index()

In [ ]:
#########################
allHBLI_wide.to_pickle('allHBLI_wide_scaled.pickle')
#########################

In [ ]:
allHBLI_wide.head()

#### End of HBLI table processing: allHBLI

# Process Jobs tables: allJobs

# Join allJobs tables

In [ ]:
dataJobs = allJobs.copy(deep=True)

In [ ]:
listofcolumns = dataJobs.columns.tolist()
#listofcolumns

In [ ]:
removelist = ['JobID','JobName','SubmissionTime', 'RescheduleTime', 'LastUpdateTime', 
              'StartExecTime', 'HeartBeatTime', 'EndExecTime']

for r in removelist:
    listofcolumns.remove(r)
    
print(listofcolumns)

In [ ]:
dataJobs.shape

In [ ]:
cc = {}

for c in listofcolumns:
    #print(c)
    ll = len(dataJobs[c].unique().tolist())
    
    if ll > 0:
        #print('************ found > limit *')
        cc[c]=ll

for w in sorted(cc, key=cc.get, reverse=False):
  print(w, cc[w])

In [ ]:
### Decision: let us drop 'MinorStatus' and 'ApplicationStatus' and only predict the 'Status' column
#   LABEL for prediction: only predict the 'Status' column

del dataJobs['MinorStatus']
del dataJobs['ApplicationStatus']

In [ ]:
### Decision: let us drop all columns which have only single state, i.e. no fluctuation
for w in sorted(cc, key=cc.get, reverse=False):
    if cc[w] == 1:
        del dataJobs[w]
        print(w, cc[w])

In [ ]:
del dataJobs['JobName'] #name is not important for prediction

In [ ]:
dataJobs.columns.tolist()

In [ ]:
dataJobs[['SubmissionTime',
 'RescheduleTime',
 'LastUpdateTime',
 'StartExecTime',
 'HeartBeatTime',
 'EndExecTime']][:5]

In [ ]:
### Decision: Convert times to deltas

dataJobs['start_submit'] = (dataJobs['StartExecTime']-dataJobs['SubmissionTime']) / np.timedelta64(1, 'm')
dataJobs['hbeat_start']  = (dataJobs['HeartBeatTime']-dataJobs['StartExecTime']) / np.timedelta64(1, 'm')

for x in ['SubmissionTime','RescheduleTime','LastUpdateTime','StartExecTime','HeartBeatTime','EndExecTime']:
    del dataJobs[x]

In [ ]:
# Decision: Remove the AccountedFlag at this stage
del dataJobs['AccountedFlag']

In [ ]:
dataJobs[:5]

In [ ]:
dataJobs.Status.value_counts()

In [ ]:
dataJobs.columns

In [ ]:
%%time
dj_encoded = pd.get_dummies(dataJobs, columns=['JobType','JobGroup','Site','Status','UserPriority'],
                           drop_first=True)

In [ ]:
dj_encoded.columns.tolist()

In [ ]:
# Before dropping first column in get_dummies, this returned 4150
len(dj_encoded[dj_encoded['Status_Failed']==True])

In [ ]:
# After dropping first column in get_dummies, this returned 4150
len(dj_encoded[dj_encoded['Status_Failed']==False])

In [ ]:
dj_encoded.head()

In [ ]:
######################################
dj_encoded.to_pickle('allJobs_featurized.pickle')
######################################

In [ ]:
# Use this finally

allJobs_encoded = dj_encoded.copy(deep=True)

In [ ]:
del dj_encoded

In [ ]:
del dataJobs

In [ ]:
del allHBLI

In [ ]:
#### End of all jobs table processing

# Join jobs tables

In [ ]:
# Test Train split each one into 50%
# Concat Test dfs and Train dfs,
# Now you have 50% from each class in train and test.

### >> Join 'allJobs_encoded' and 'allHBLI_wide"

In [ ]:
allHBLI_wide.shape

In [ ]:
allJobs_encoded.shape

In [ ]:
%%time
raw_samples = pd.merge(allHBLI_wide, allJobs_encoded, on =['JobID'])
print(raw_samples.shape)

In [ ]:
raw_samples.head()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

sample_counts = pd.value_counts(raw_samples['JobID'].values, sort=False)
plt.hist(sample_counts.values, bins = 100)
plt.show()

# Sample Generation

# Convert Pandas dataframe to LSTM 3D tensor

# Set Threshold

In [7]:
thresholdd = 2

In [8]:
sum(sample_counts.values>=thresholdd)

NameError: name 'sample_counts' is not defined

In [ ]:
### Decision: Number of timesteps per sample = 3
# Shape of 3D matrix should be (#samples)x(3)x(132)

sum(sample_counts.values<thresholdd)

In [ ]:
# Delete rows of JobIDs with  fewer than 3 timestamps

dff = raw_samples['JobID'].value_counts()
print(dff.sample(3))

In [ ]:
dff = dff[dff<thresholdd]


dff = dff.reset_index()
dff = dff.rename(index=str, columns={"JobID": "count", "index": "JobID"})

print(dff.sample(5))
print(dff.head())

remove_list = dff['JobID'].tolist()
remove_list[:5]

In [ ]:
cleaned = raw_samples[~raw_samples['JobID'].isin(remove_list)]
cleaned.shape, raw_samples.shape

In [ ]:
# Number of unique JobIDs in cleaned
totalleftjobslist = cleaned.JobID.unique().tolist()

totalleftjobs = len(cleaned.JobID.unique().tolist())

In [ ]:
import random

indices = random.sample(range(len(totalleftjobslist)), int(totalleftjobs * .30))
takeoutlist = [totalleftjobslist[i] for i in sorted(indices)]

len(takeoutlist), totalleftjobs

In [ ]:
print(len(remove_list))
remove_list = remove_list + takeoutlist
print(len(remove_list))

# Train on cleaned, Test on takeoutdf

In [ ]:
cleaned = raw_samples[~raw_samples['JobID'].isin(remove_list)]
cleaned.shape, raw_samples.shape

In [ ]:
takeoutdf = raw_samples[raw_samples['JobID'].isin(takeoutlist)]
takeoutdf.shape, raw_samples.shape

In [ ]:
######################

In [ ]:
# Count values in cleaned

cleaned_counts = pd.value_counts(cleaned['JobID'].values, sort=False)
sum(cleaned_counts.values<thresholdd), sum(cleaned_counts.values>=thresholdd)

In [ ]:
len((sample_counts.values))

In [ ]:
train_feat = cleaned.columns.tolist()
print(len(train_feat)) #125
cleaned.Status_Failed.value_counts()

In [ ]:
train_feat = cleaned.columns.tolist()
print(len(train_feat)) #125

train_feat.remove('HeartBeatTime')
train_feat.remove('JobID')
train_feat.remove('Status_Failed')

len(train_feat) #122

In [ ]:
# Training Features

In [ ]:
train_feat

In [ ]:
cleaned.shape

In [ ]:
# Label Column ('Status_Failed' is the label column)
label_col = ['Status_Failed']

In [10]:
# Takes a df and converts it to 3D tensor
# Each sample will have k time steps

def samples_features(df_input):
    
    k = thresholdd
    input_cols = train_feat
    
    # takes a df
    # Put your inputs into a single list
    
    df = pd.DataFrame()
    
    df['single_input_vector'] = df_input[input_cols].apply(tuple, axis=1).apply(list)
    
    # Double-encapsulate list so that you can sum it in the next step and keep time steps as separate elements
    df['single_input_vector'] = df.single_input_vector.apply(lambda x: [list(x)])
        
    # The starting point
    df['cumulative_input_vectors'] = df['single_input_vector'].shift(0)
    
    for i in range(1,k):
        df['cumulative_input_vectors'] += df['single_input_vector'].shift(i)
          
    df.dropna(inplace=True)     # does operation in place & returns None

    # Extract your training data
    X_ = np.asarray(df.cumulative_input_vectors)
    
    # Use hstack to and reshape to make the inputs a 3d vector
    X = np.vstack(X_).reshape(len(df), k, len(input_cols))
    
    # Clean up
    del df
    
    return X
    # returns 3D array

In [ ]:
thresholdd #Check it matched the title

# Build X (each job separately)

In [175]:
cleaned.isnull().values.ravel().sum()

22

In [176]:
cleaned = cleaned.dropna()

In [181]:
cleaned.isnull().values.ravel().sum()

0

In [179]:
cleaned.columns

Index(['JobID', 'HeartBeatTime', 'AvailableDiskSpace', 'CPUConsumed',
       'LoadAverage', 'MemoryUsed', 'RSS', 'Vsize', 'WallClockTime',
       'RescheduleCounter',
       ...
       'Site_LCG.Torino.it', 'Site_LCG.ULAKBIM.tr', 'Site_Multiple',
       'Site_SSH.KMI.jp', 'Status_Failed', 'UserPriority_2', 'UserPriority_3',
       'UserPriority_5', 'UserPriority_9', 'UserPriority_10'],
      dtype='object', length=316)

In [274]:
##################################################

In [278]:
cleaned.to_pickle('cleaned_for_train_samples.pickle')

In [9]:
cleaned = pd.read_pickle('cleaned_for_train_samples.pickle')

In [275]:
##################################################

In [13]:
cleaned.columns

Index(['JobID', 'HeartBeatTime', 'AvailableDiskSpace', 'CPUConsumed',
       'LoadAverage', 'MemoryUsed', 'RSS', 'Vsize', 'WallClockTime',
       'RescheduleCounter',
       ...
       'Site_LCG.Torino.it', 'Site_LCG.ULAKBIM.tr', 'Site_Multiple',
       'Site_SSH.KMI.jp', 'Status_Failed', 'UserPriority_2', 'UserPriority_3',
       'UserPriority_5', 'UserPriority_9', 'UserPriority_10'],
      dtype='object', length=316)

In [11]:
train_feat = cleaned.columns.tolist()
print(len(train_feat)) #125

train_feat.remove('HeartBeatTime')
train_feat.remove('JobID')
train_feat.remove('Status_Failed')

len(train_feat) #122

316

313

In [14]:
%%time
cleanedgrouped = cleaned.groupby('JobID')

CPU times: user 702 µs, sys: 152 µs, total: 854 µs
Wall time: 868 µs

In [15]:
print(thresholdd)

2

In [16]:
%%time
collecttrain = cleanedgrouped.apply(samples_features)

CPU times: user 2min 50s, sys: 1.22 s, total: 2min 51s
Wall time: 2min 51s

In [ ]:
for x in collecttrain.tolist()[:1]

In [17]:
collecttrain.tolist()[100].shape

(15, 2, 313)

In [18]:
X=[]

In [19]:
%%time
for x in collecttrain:
    #len(x)
    for i in x:
        X.append(i)

CPU times: user 158 ms, sys: 32 ms, total: 190 ms
Wall time: 189 ms

In [20]:
X = np.array(X)
X.shape

(439218, 2, 313)

In [ ]:
## X is ready

In [ ]:
%%time
# This mixes the jobs - so not good
# Decision : Orderting of timesteps from top to bottom is t, t-1, t-2
# X = samples(cleaned, k=thresholdd, input_cols = train_feat)

In [21]:
# Label Column ('Status_Failed' is the label column)
label_col = ['Status_Failed']

In [22]:
# Takes a df and converts it to 3D tensor
# Each sample will have k time steps

def samples_label(df_input):
    
    k = thresholdd
    input_cols = label_col
    
    # takes a df
    # Put your inputs into a single list
    
    df = pd.DataFrame()
    
    df['single_input_vector'] = df_input[input_cols].apply(tuple, axis=1).apply(list)
    
    # Double-encapsulate list so that you can sum it in the next step and keep time steps as separate elements
    df['single_input_vector'] = df.single_input_vector.apply(lambda x: [list(x)])
        
    # The starting point
    df['cumulative_input_vectors'] = df['single_input_vector'].shift(0)
    
    for i in range(1,k):
        df['cumulative_input_vectors'] += df['single_input_vector'].shift(i)
          
    df.dropna(inplace=True)     # does operation in place & returns None

    # Extract your training data
    X_ = np.asarray(df.cumulative_input_vectors)
    
    # Use hstack to and reshape to make the inputs a 3d vector
    X = np.vstack(X_).reshape(len(df), k, len(input_cols))
    
    # Clean up
    del df
    
    return X
    # returns 3D array

# Build Y (each job separately)

In [23]:
cleanedgrouped = cleaned.groupby('JobID')

In [24]:
%%time
collectlabel = cleanedgrouped.apply(samples_label)

CPU times: user 2min 24s, sys: 184 ms, total: 2min 24s
Wall time: 2min 24s

In [ ]:
collectlabel.tolist()[:1]

In [25]:
collectlabel.tolist()[100].shape

(15, 2, 1)

In [26]:
Y=[]

In [27]:
%%time
for x in collectlabel:
    #len(x)
    for i in x:
        Y.append(i)

CPU times: user 165 ms, sys: 20 ms, total: 185 ms
Wall time: 184 ms

In [28]:
Y = np.array(Y)
Y.shape

(439218, 2, 1)

In [29]:
%%time
# This mixes consecutive jobs - so not good
# Decision : Orderting of timesteps from top to bottom is t, t-1, t-2
#Y = samples(cleaned, k=thresholdd, input_cols = label_col)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.34 µs

In [30]:
YY = np.array([x[0][0] for x in Y]).reshape(len(Y),1)
YY.shape

(439218, 1)

In [31]:
YY[:5]

array([[1],
       [1],
       [1],
       [1],
       [1]])

In [32]:
## Y is ready

## Shuffle

In [33]:
# Unison shuffle

def unison_shuffled_copies(a, b):
    import numpy as np
    assert len(a) == len(b)
    p = np.random.permutation(len(a))
    return a[p], b[p]

In [34]:
%%time
X_final, Y_final = unison_shuffled_copies(X,YY)

CPU times: user 415 ms, sys: 612 ms, total: 1.03 s
Wall time: 1.03 s

In [35]:
X_final.shape, Y_final.shape

((439218, 2, 313), (439218, 1))

In [36]:
sum(Y_final[:10000])

array([4646])

del X
del Y
del YY

In [37]:
X_final, Y_final = unison_shuffled_copies(X_final, Y_final)

# Start: Build test set from 'takeoutdf'

# Build X_tes, Y_test using each JobID separately

In [39]:
takeoutdf = pd.read_pickle('takeoutdf_for_test_samples.pickle')
takeoutdf.shape

(202677, 316)

In [40]:
train_feat = takeoutdf.columns.tolist()
print(len(train_feat)) #125
takeoutdf.Status_Failed.value_counts()

316

0    107243
1     95434
Name: Status_Failed, dtype: int64

In [41]:
train_feat = takeoutdf.columns.tolist()
print(len(train_feat)) #125

train_feat.remove('HeartBeatTime')
train_feat.remove('JobID')
train_feat.remove('Status_Failed')

len(train_feat) #122

316

313

In [42]:
# Training Features

In [43]:
train_feat

['AvailableDiskSpace',
 'CPUConsumed',
 'LoadAverage',
 'MemoryUsed',
 'RSS',
 'Vsize',
 'WallClockTime',
 'RescheduleCounter',
 'start_submit',
 'hbeat_start',
 'JobType_MCProductionBGx0',
 'JobType_Merge',
 'JobGroup_00000758',
 'JobGroup_00000808',
 'JobGroup_00000809',
 'JobGroup_00000974',
 'JobGroup_00000975',
 'JobGroup_00001303',
 'JobGroup_00001306',
 'JobGroup_00001368',
 'JobGroup_00001369',
 'JobGroup_00001370',
 'JobGroup_00001371',
 'JobGroup_00001372',
 'JobGroup_00001373',
 'JobGroup_00001374',
 'JobGroup_00001375',
 'JobGroup_00001376',
 'JobGroup_00001377',
 'JobGroup_00001378',
 'JobGroup_00001379',
 'JobGroup_00001380',
 'JobGroup_00001381',
 'JobGroup_00001386',
 'JobGroup_00001398',
 'JobGroup_00001404',
 'JobGroup_00001622',
 'JobGroup_00001635',
 'JobGroup_00001636',
 'JobGroup_00001637',
 'JobGroup_00001638',
 'JobGroup_00001639',
 'JobGroup_00001640',
 'JobGroup_00001641',
 'JobGroup_00001642',
 'JobGroup_00001643',
 'JobGroup_00001644',
 'JobGroup_00001645',
 'JobGroup_00001646',
 'JobGroup_00001647',
 'JobGroup_00001648',
 'JobGroup_00001649',
 'JobGroup_00001650',
 'JobGroup_00001651',
 'JobGroup_00001652',
 'JobGroup_00001653',
 'JobGroup_00001654',
 'JobGroup_00001655',
 'JobGroup_00001656',
 'JobGroup_00001657',
 'JobGroup_00001658',
 'JobGroup_00001659',
 'JobGroup_00001660',
 'JobGroup_00001661',
 'JobGroup_00001662',
 'JobGroup_00001663',
 'JobGroup_00001664',
 'JobGroup_00001665',
 'JobGroup_00001666',
 'JobGroup_00001667',
 'JobGroup_00001668',
 'JobGroup_00001669',
 'JobGroup_00001670',
 'JobGroup_00001671',
 'JobGroup_00001672',
 'JobGroup_00001673',
 'JobGroup_00001674',
 'JobGroup_00001675',
 'JobGroup_00001676',
 'JobGroup_00001677',
 'JobGroup_00001678',
 'JobGroup_00001679',
 'JobGroup_00001680',
 'JobGroup_00001681',
 'JobGroup_00001682',
 'JobGroup_00001683',
 'JobGroup_00001684',
 'JobGroup_00001685',
 'JobGroup_00001686',
 'JobGroup_00001687',
 'JobGroup_00001688',
 'JobGroup_00001689',
 'JobGroup_00001690',
 'JobGroup_00001691',
 'JobGroup_00001692',
 'JobGroup_00001693',
 'JobGroup_00001694',
 'JobGroup_00001695',
 'JobGroup_00001696',
 'JobGroup_00001699',
 'JobGroup_00001702',
 'JobGroup_00001705',
 'JobGroup_00001710',
 'JobGroup_00001711',
 'JobGroup_00001712',
 'JobGroup_00001714',
 'JobGroup_00001717',
 'JobGroup_00001720',
 'JobGroup_00001721',
 'JobGroup_00001722',
 'JobGroup_00001723',
 'JobGroup_00001724',
 'JobGroup_00001725',
 'JobGroup_00001726',
 'JobGroup_00001727',
 'JobGroup_00001728',
 'JobGroup_00001729',
 'JobGroup_00001732',
 'JobGroup_00001733',
 'JobGroup_00001734',
 'JobGroup_00001735',
 'JobGroup_00001736',
 'JobGroup_00001737',
 'JobGroup_00001738',
 'JobGroup_00001739',
 'JobGroup_00001740',
 'JobGroup_00001741',
 'JobGroup_00001744',
 'JobGroup_00001746',
 'JobGroup_00001747',
 'JobGroup_00001749',
 'JobGroup_00001750',
 'JobGroup_00001753',
 'JobGroup_00001754',
 'JobGroup_00001755',
 'JobGroup_00001756',
 'JobGroup_00001757',
 'JobGroup_00001758',
 'JobGroup_00001759',
 'JobGroup_00001760',
 'JobGroup_00001761',
 'JobGroup_00001762',
 'JobGroup_00001763',
 'JobGroup_00001764',
 'JobGroup_00001765',
 'JobGroup_00001766',
 'JobGroup_00001767',
 'JobGroup_00001768',
 'JobGroup_00001769',
 'JobGroup_00001770',
 'JobGroup_00001771',
 'JobGroup_00001772',
 'JobGroup_00001773',
 'JobGroup_00001774',
 'JobGroup_00001775',
 'JobGroup_00001776',
 'JobGroup_00001777',
 'JobGroup_00001778',
 'JobGroup_00001779',
 'JobGroup_00001780',
 'JobGroup_00001781',
 'JobGroup_00001782',
 'JobGroup_00001783',
 'JobGroup_00001784',
 'JobGroup_00001785',
 'JobGroup_00001786',
 'JobGroup_00001787',
 'JobGroup_00001788',
 'JobGroup_00001789',
 'JobGroup_00001790',
 'JobGroup_00001791',
 'JobGroup_00001792',
 'JobGroup_00001793',
 'JobGroup_00001794',
 'JobGroup_00001795',
 'JobGroup_00001796',
 'JobGroup_00001797',
 'JobGroup_00001798',
 'JobGroup_00001799',
 'JobGroup_00001800',
 'JobGroup_00001801',
 'JobGroup_00001802',
 'JobGroup_00001803',
 'JobGroup_00001804',
 'JobGroup_00001805',
 'JobGroup_00001806',
 'JobGroup_00001807',
 'JobGroup_00001808',
 'JobGroup_00001809',
 'JobGroup_00001810',
 'JobGroup_00001811',
 'JobGroup_00001812',
 'JobGroup_00001813',
 'JobGroup_00001814',
 'JobGroup_00001815',
 'JobGroup_00001816',
 'JobGroup_00001817',
 'JobGroup_00001818',
 'JobGroup_00001819',
 'JobGroup_00001820',
 'JobGroup_00001821',
 'JobGroup_00001822',
 'JobGroup_00001823',
 'JobGroup_00001824',
 'JobGroup_00001825',
 'JobGroup_00001826',
 'JobGroup_00001827',
 'JobGroup_00001828',
 'JobGroup_00001829',
 'JobGroup_00001830',
 'JobGroup_00001831',
 'JobGroup_00001832',
 'JobGroup_00001833',
 'JobGroup_00001834',
 'JobGroup_00001837',
 'JobGroup_00001840',
 'JobGroup_00001842',
 'JobGroup_00001845',
 'JobGroup_00001847',
 'JobGroup_00001849',
 'JobGroup_00001850',
 'JobGroup_00001856',
 'JobGroup_00001857',
 'JobGroup_00001858',
 'JobGroup_00001859',
 'JobGroup_00001860',
 'JobGroup_00001861',
 'JobGroup_00001863',
 'JobGroup_00001864',
 'JobGroup_00001865',
 'JobGroup_00001866',
 'JobGroup_00001868',
 'JobGroup_00001871',
 'JobGroup_00001872',
 'JobGroup_00001914',
 'JobGroup_00001916',
 'JobGroup_00001917',
 'JobGroup_00001919',
 'JobGroup_00001920',
 'JobGroup_00001921',
 'JobGroup_00001922',
 'JobGroup_00001923',
 'JobGroup_00001924',
 'JobGroup_00001925',
 'JobGroup_00001926',
 'JobGroup_00001927',
 'JobGroup_00001931',
 'JobGroup_00001935',
 'JobGroup_00001936',
 'JobGroup_00001937',
 'JobGroup_00001939',
 'JobGroup_00001940',
 'JobGroup_00001941',
 'JobGroup_00001942',
 'JobGroup_00001943',
 'JobGroup_00001944',
 'JobGroup_00001945',
 'Site_ARC.DESY.de',
 'Site_ARC.SIGNET.si',
 'Site_CLOUD.AWS_Sydney.au',
 'Site_CLOUD.AWS_Tokyo.jp',
 'Site_CLOUD.AWS_Virginia.us',
 'Site_CLOUD.CC1_Krakow.pl',
 'Site_DIRAC.BINP.ru',
 'Site_DIRAC.Beihang.cn',
 'Site_DIRAC.CINVESTAV.mx',
 'Site_DIRAC.Hokudai.jp',
 'Site_DIRAC.IITG.in',
 'Site_DIRAC.MIPT.ru',
 'Site_DIRAC.Nagoya.jp',
 'Site_DIRAC.Nara-WU.jp',
 'Site_DIRAC.Niigata.jp',
 'Site_DIRAC.Osaka-CU.jp',
 'Site_DIRAC.PNNL.us',
 'Site_DIRAC.RCNP.jp',
 'Site_DIRAC.TIFR.in',
 'Site_DIRAC.TMU.jp',
 'Site_DIRAC.Test.jp',
 'Site_DIRAC.Tokyo.jp',
 'Site_DIRAC.UAS.mx',
 'Site_DIRAC.UVic.ca',
 'Site_DIRAC.Yamagata.jp',
 'Site_DIRAC.Yonsei.kr',
 'Site_Group.KEK2.jp',
 'Site_LCG.CESNET.cz',
 'Site_LCG.CNAF.it',
 'Site_LCG.CYFRONET.pl',
 'Site_LCG.Cosenza.it',
 'Site_LCG.DESY.de',
 'Site_LCG.Frascati.it',
 'Site_LCG.HEPHY.at',
 'Site_LCG.KEK.jp',
 'Site_LCG.KEK2.jp',
 'Site_LCG.KISTI.kr',
 'Site_LCG.KIT.de',
 'Site_LCG.KMI.jp',
 'Site_LCG.Legnaro.it',
 'Site_LCG.MPPMU.de',
 'Site_LCG.McGill.ca',
 'Site_LCG.Melbourne.au',
 'Site_LCG.NCHC.tw',
 'Site_LCG.NTU.tw',
 'Site_LCG.Napoli.it',
 'Site_LCG.Pisa.it',
 'Site_LCG.Torino.it',
 'Site_LCG.ULAKBIM.tr',
 'Site_Multiple',
 'Site_SSH.KMI.jp',
 'UserPriority_2',
 'UserPriority_3',
 'UserPriority_5',
 'UserPriority_9',
 'UserPriority_10']

In [90]:
takeoutdf.WallClockTime.tolist()[:5]

[1.2199327316073184e-05,
 0.007003391081386252,
 0.01399162140129751,
 0.020983672305745965,
 0.027975631657191156]

In [44]:
# Label Column ('Status_Failed' is the label column)
label_col = ['Status_Failed']

In [45]:
takeoutdf.shape

(202677, 316)

In [46]:
takeoutdf.isnull().values.ravel().sum()

0

In [47]:
takeoutdf = takeoutdf.dropna()

In [48]:
takeoutdf.isnull().values.ravel().sum()

0

In [49]:
takeoutdf.columns

Index(['JobID', 'HeartBeatTime', 'AvailableDiskSpace', 'CPUConsumed',
       'LoadAverage', 'MemoryUsed', 'RSS', 'Vsize', 'WallClockTime',
       'RescheduleCounter',
       ...
       'Site_LCG.Torino.it', 'Site_LCG.ULAKBIM.tr', 'Site_Multiple',
       'Site_SSH.KMI.jp', 'Status_Failed', 'UserPriority_2', 'UserPriority_3',
       'UserPriority_5', 'UserPriority_9', 'UserPriority_10'],
      dtype='object', length=316)

In [277]:
########################################################
takeoutdf.to_pickle('takeoutdf_for_test_samples.pickle')
########################################################

In [219]:
# Start of X_test

In [50]:
takeoutdfgrouped = takeoutdf.groupby('JobID')

In [51]:
%%time
collectXtest = takeoutdfgrouped.apply(samples_features)

CPU times: user 1min 14s, sys: 468 ms, total: 1min 14s
Wall time: 1min 14s

In [ ]:
for x in takeoutdfgrouped.tolist()[:1]

In [52]:
collectXtest.tolist()[100].shape

(22, 2, 313)

In [53]:
X_test=[]

In [54]:
%%time
for x in collectXtest:
    #len(x)
    for i in x:
        X_test.append(i)

CPU times: user 72.1 ms, sys: 8 ms, total: 80.1 ms
Wall time: 78.7 ms

In [55]:
X_test = np.array(X_test)
X_test.shape

(189580, 2, 313)

In [56]:
## X_test is ready

In [57]:
## Make Y_test

In [58]:
%%time
collectlabel = takeoutdfgrouped.apply(samples_label)

CPU times: user 1min 2s, sys: 64.1 ms, total: 1min 2s
Wall time: 1min 2s

In [ ]:
for x in collectlabel.tolist()[:1]

In [59]:
collectlabel.tolist()[100].shape

(22, 2, 1)

In [60]:
Y_t=[]

In [61]:
%%time
for x in collectlabel:
    #len(x)
    for i in x:
        Y_t.append(i)

CPU times: user 79.6 ms, sys: 4 ms, total: 83.6 ms
Wall time: 82.3 ms

In [62]:
Y_t = np.array(Y_t)
Y_t.shape

(189580, 2, 1)

In [63]:
%%time
# This mixes consecutive jobs - so not good
# Decision : Orderting of timesteps from top to bottom is t, t-1, t-2
#Y = samples(cleaned, k=thresholdd, input_cols = label_col)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.68 µs

In [64]:
Y_test = np.array([x[0][0] for x in Y_t]).reshape(len(Y_t),1)
Y_test.shape

(189580, 1)

In [65]:
Y_test[:5]

array([[1],
       [1],
       [1],
       [1],
       [1]])

In [66]:
## Y_test is ready

In [67]:
X_test.shape, Y_test.shape

((189580, 2, 313), (189580, 1))

In [68]:
X_final.shape, Y_final.shape

((439218, 2, 313), (439218, 1))

In [69]:
sum(Y_test[:]), len(Y_test)

(array([89762]), 189580)

In [70]:
del Y_t

# End test set from 'takeoutdf'

## Build Model

In [71]:
input_length = X_final.shape[1]

input_dim = X_final.shape[2]

# Output dimensions is the shape of a single output vector
# In this case it's just 1, but it could be more
output_dim = len(Y_final[0])

In [241]:
# NO NEED TO SPLIT, SINCE TESTING WILL OCCUR ON leftoutdf taken out earlier

#from sklearn.model_selection import train_test_split

#X_train,X_test,y_train,y_test = train_test_split(X_final,Y_final,test_size=0.33,random_state=24)

In [242]:
#X_train.shape,y_train.shape, X_test.shape,  y_test.shape

In [72]:
sum([x[0] for x in Y_final])/ len(Y_final)

0.4724373773388158

In [73]:
Y_final[:5]

array([[0],
       [1],
       [0],
       [1],
       [1]])

In [74]:
from keras.models import Model, Sequential
from keras.layers import LSTM, Dense, Embedding, Dropout
input_dim, input_length, output_dim

/data/home/a1singh/anaconda3/envs/keras/lib/python3.5/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

(313, 2, 1)

In [75]:
def create_model(input_dim = input_dim, input_length = input_length, output_dim=output_dim):
    print ('Creating model...')
    model = Sequential()
    model.add(LSTM(20, input_shape=(input_length,input_dim),return_sequences=True))
    model.add(LSTM(20))
    model.add(Dense(output_dim, activation='sigmoid'))

    print ('Compiling...')
    model.compile(loss='binary_crossentropy',
                  optimizer='adam',
                  metrics=['binary_accuracy'])
    return model

In [76]:
model = create_model()

Creating model...
Compiling...

In [ ]:
> Bookmark here

In [77]:
%%time

print ('Fitting model...')

history = model.fit(X_final,Y_final,batch_size=500, epochs=3, validation_split = 0.50, verbose = 1)

Fitting model...
Train on 219609 samples, validate on 219609 samples
Epoch 1/3
219609/219609 [==============================] - 10s 46us/step - loss: 0.5545 - binary_accuracy: 0.7152 - val_loss: 0.1599 - val_binary_accuracy: 0.9410
Epoch 2/3
219609/219609 [==============================] - 9s 43us/step - loss: 0.0639 - binary_accuracy: 0.9826 - val_loss: 0.0497 - val_binary_accuracy: 0.9867
Epoch 3/3
219609/219609 [==============================] - 9s 40us/step - loss: 0.0504 - binary_accuracy: 0.9867 - val_loss: 0.0597 - val_binary_accuracy: 0.9847
CPU times: user 2min 25s, sys: 52.2 s, total: 3min 17s
Wall time: 29.8 s

In [78]:
loss, accuracy = model.evaluate(X_test, Y_test)

189580/189580 [==============================] - 11s 57us/step

# Accuracy

In [79]:
loss, accuracy

(0.0556105997840645, 0.9870608713999367)

In [260]:
# when taking 10 timesteps, and keeping separate test and training JobIDs
# loss, accuracy is: 
# on X_test, Y_test

In [80]:
y_pred = model.predict(X_test)

In [81]:
y_pred[:4]

array([[0.9966888],
       [0.9966793],
       [0.9966889],
       [0.9966942]], dtype=float32)

# Binary classification accuracy

In [82]:
y_true = pd.Series([x[0] for x in Y_test])

# Use np.rint for rounding off 
y_predicted = pd.Series([ np.rint(j[0]) for j in y_pred])

In [83]:
np.mean(np.equal(y_true, y_predicted))

0.9870608713999367

# Confusion matrix

In [84]:
pd.crosstab(y_true, y_predicted, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted     0.0    1.0     All
True
0           99717    101   99818
1            2352  87410   89762
All        102069  87511  189580

In [89]:
len(takeoutdf.JobID.unique().tolist()), len(cleaned.JobID.unique().tolist())

(13097, 30559)

In [85]:
# Verify that there is no intersection between training and test jobs

list(set(takeoutdf.JobID.tolist()) & set(cleaned.JobID.tolist()))

[]

In [86]:
# Predicting all 0s ??
sum([ (j) for j in y_predicted])

87511.0

# Checkpoint: Valid code above this line

### Appendix below this line:

In [ ]:
#### Save X to disk



#### Create Labels



##### Make X_train, X_test




##### Create LSTM



##### Train LSTM


##### Test LSTM

In [ ]:
def vector_generator():
    # for a given JOBID, return a list of vectors
    # each vector is a feature vector (observation) at a timestamp t
    # length of feature vector = n
    
    new_dict = {}
    # jobID --> { timestamp -> [features], timestamp -> [features], timestamp -> [features], ... }
    
    ####################################
    # Single Table Features
    ####################################
    
    #### Iterate throught each table and pick the feature of interest from each table
    
    #### Continuous
    
    #### Categorical
    
    
    ####################################
    # Multi-table features (JOINs)
    ####################################
    
    #### Continuous
    
    #### Categorical
    
    
    return None

In [ ]:
def vec_2_samples():
    # take the list of vectors for a given job, and reshape it to 3D np array
    # each sample could be one-time step or >1 time-step observation
    # 3D array : s x t x n
    # s = # of samples
    # t = # of timesteps in each sample
    # n = # length of each feature vector
    return None

In [ ]:
def sample_stacker():
    # takes samples of a set of jobs
    # and stacks these samples on top of each other
    # np.append(A, B, axis =0)
    # returned 3D array is a set of samples that can be fed to an LSTM
    return None